<fieldset>
    <div class="form-horizontal">
        <legend>Consultar Avaliação de Artigos</legend>
        <div class="row">
            <div class="col-md-12" ng-show="aviso.show">
                <div class="alert ">{{ aviso.message }}</div>
            </div>
            <div class="col-sm-12">
                <div class="inner-panel dashboard">
                    <ul>
                        <li class="state-finished">
                            <div class="inner-panel-title">
                                <a class="btn-link">Filtro de Consulta</a>
                                <div class="inner-panel-actions pull-right">
                                </div>
                            </div>
                            <div class="inner-panel-content">

                                <div class="row">

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Ano do Prêmio:</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" ng-model="form.anoPremio" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Categoria Temática:</label>
                                        <div class="col-sm-9">
                                            <select ng-change="carregarGrupos()"
                                                    data-placeholder="Selecione"
                                                    name="categoria"
                                                    id="categoria"
                                                    required
                                                    options="categorias.itens"
                                                    class="form-control"
                                                    ng-model="categoria.selecionado"
                                                    ng-options="item.nome for item in categorias.itens track by item.idTema">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Comissão Adhoc:</label>
                                        <div class="col-sm-9">
                                            <select ng-change="recuperarArtigos()"
                                                    capes-chosen data-placeholder="Selecione"
                                                    name="grupos"
                                                    id="grupos"
                                                    required
                                                    options="grupos.itens"
                                                    class="form-control"
                                                    ng-model="grupo.selecionado"
                                                    ng-options="item.nome for item in grupos.itens track by item.id">
                                            </select>
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</fieldset>

<div class="inner-panel-actions pull-right">
    <div class="btn-group btn-group-sm">

        <button type="submit"
                class="btn btn-primary"
                ng-click="buscar()">
            <i class="glyphicon glyphicon-file"></i> Pesquisar
        </button>

    </div>
</div>
<br />
<br />
<div class="inner-panel dashboard ng-scope" ng-if="avaliacoes.length">
    <ul>
        <li class="state-finished">
            <div class="inner-panel-title">
                <span class="btn-link">Resultado da Consulta</span>
            </div>
        </li>
    </ul>
    <div class="inner-panel-content">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped table-bordered table-hover table-center">
                    <thead>
                        <tr>
                            <th width="">Consultor</th>
                            <th width="">Nome do Arquivo</th>
                            <th width="">Ano do Prêmio</th>
                            <th width="">Categoria Temática</th>
                            <th width="">Comissão Adhoc</th>
                            <th width="5%">Download</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="avaliacao in avaliacoes" >
                            <td>{{avaliacao.documento.participante.nome}}</td>
                            <td>{{avaliacao.infoDocument.nome}}</td>
                            <td>{{avaliacao.documento.anoPremio}}</td>
                            <td>{{avaliacao.documento.categoriaTematica}}</td>
                            <td>{{avaliacao.documento.comissaoAdhoc}}</td>
                            <td>
                                <a ng-href="../rest/incluir-avaliacao/{{ avaliacao.documento.idParticipateDocumento }}">
                                    <i class="glyphicon glyphicon-download-alt"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


