<form role="form" class="">
    <fieldset>
        <legend>Confirmação</legend>
        <div class="col-sm-12">
            <div class="inner-panel dashboard">
                <h4></h4>
                <ul>
                    <li class="state-active">
                        <div class="inner-panel-title">
                            <a class="btn-link">Confirmação de Inscrição</a>
                        </div>                            
                        <div class="inner-panel-content">
                            <!-- <div class="alert alert-warning alert-dismissable">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            Sua inscrição foi indeferida na análise técnica, porém você pode entrar com
                            <span class="alert-link">recurso até o dia xx/xx/xxx</span>.
                            </div>-->
                            <div class="row">
                                <br />
                                <div class="form-group col-md-12">
                                    A inscrição do artigo: {{ inscricao.detalhe_inscricao.tituloArtigo }}, foi realizada com sucesso no Prêmio CAPES/Natura Campus de Excelência em Pesquisa Edição
                                    {{ inscricao.evento.ano }} na data de {{ inscricao.dt_ultima_alteracao.date.substring(0,10).split('-').reverse().join('/') }} às {{ inscricao.dt_ultima_alteracao.date.substring(11,16) }}.
                                    <br /><br />
                                    O número de inscrição gerado é {{ inscricao.id }}.
                                    <br /><br />
                                    A CAPES agradece a sua participação
                                    <br /><br />
                                    Dúvidas: <a href="mailto:pcn@capes.gov.br">pcn@capes.gov.br</a>
                                </div>
                            </div>
                        </div>                                
                    </li>

                </ul>
            </div>
            <div class="inner-panel-actions pull-right">
                <div class="btn-group btn-group-sm">
                    <a class="btn btn-default" 
                       href="#/">
                        <i class="glyphicon glyphicon-arrow-left"></i> Voltar</a>
                    <a class="btn btn-primary" 
                       href="../rest/inscricao/{{ inscricao.id }}">
                        <i class="glyphicon glyphicon-file"></i> Salvar comprovante</a>
                </div>
            </div>
        </div>            



    </fieldset>        
</form>