<div class="inner-panel dashboard">
  <ul>
    <li class="state-finished">
    <div class="inner-panel-title">
      <a class="btn-link">DADOS DA INSCRIÇÃO</a>
      <div class="inner-panel-actions pull-right">
      </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-info alert-dismissable">
                Prezado (a) Autor(a),<br/>
                Certifique-se de ter todos os documentos exigidos pelo “Edital 18/2018 Prêmio CAPES/Natura Campus de
                Excelência em Pesquisa (Item 3) ao realizar a inscrição do artigo.<br/>
                Os campos foram preenchidos automaticamente, utilizando o banco de dados da Plataforma Sucupira.<br>
            </div>
            <alert ng-show="aviso.show" id="aviso" type="{{ aviso.type }}" close="fecharAviso()">{{ aviso.msg }}</alert>
            <alert ng-show="aviso['parametrizacao'].show" type="{{ aviso['parametrizacao'].type}}" close="fecharAviso()">{{ aviso['parametrizacao'].msg}}</alert>

            <div class="inner-panel dashboard">
              <form id="formDadosPessoais" name="formDadosPessoais">
                <div class="inner-panel-title">Dados Pessoais</div>

                  <div class="row">
                    <div class="form-group col-md-3">
                      <label class="col-md-4 control-label">{{pessoa.identificador_principal.tipo.descricao}}:</label>

                      <div class="col-md-1">{{ pessoa.identificador_principal.descricao }}</div>
                    </div>


                    <div class="form-group col-md-5">
                      <label class="col-md-5 control-label">Data de Nascimento:</label>
                      <div>{{ pessoa.nascimento }}</div>
                    </div>

                    <div class="input-group col-md-4" ng-if="linkLattes" style="vertical-align: middle;">
                      <a class="form-control btn btn-link" ng-href="{{linkLattes}}" target="_blank">Curriculum Lattes <i class="btn btn-xs btn-default glyphicon glyphicon-arrow-right" /></a>
                    </div>
                    <div class="input-group col-md-4" ng-if="!linkLattes">
                      <strong>Falha ao consultar Currículo Lattes</strong>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-md-12">
                      <label class=" col-md-2 control-label">Nome Civil:</label>
                      <div  class="col-md-8">{{ pessoa.nome_fiscal }}</div>
                    </div>
                  </div>

                <div class="row">
                  <div class="form-group col-md-12 required" ng-class="{'has-error':formDadosPessoais.nomeSocial.$invalid}">
                    <label class=" col-md-2 control-label requied">Nome Social:</label>
                    <div class="col-md-8">
                      <input type="text" ng-model="pessoa.nome" ng-required="true" class="form-control input-sm" name="nomeSocial" maxlength="120"/>
                    </div>
                  </div>
                </div>

                <!-- telefone fixo start-->
                <div class="row">
                  <div class="form-group col-md-12 required" ng-class="{'has-error':formDadosPessoais.fixoPais.$invalid || formDadosPessoais.fixoArea.$invalid || formDadosPessoais.fixoNumero.$invalid}">
                    <label class="col-md-2 control-label">Telefone:</label>
                    <div class="col-md-10">
                      <div class="row">
                        <div class="col-sm-1">
                          <input type="text" only-digits maxlength="3" class="form-control input-sm num" name="fixoPais" ng-pattern="/^-?[0-9][^\.]*$/" ng-model="pessoa.telefone_fixo_principal.codigoPais" ng-required="true"/>
                        </div>
                        <div class="col-sm-1">
                          <input type="text" only-digits maxlength="3" class="form-control input-sm num" name="fixoArea" ng-model="pessoa.telefone_fixo_principal.codigoArea" ng-required="true"/>
                        </div>
                        <div class="col-sm-2">
                          <input type="text" only-digits maxlength="9" class="form-control input-sm num" name="fixoNumero" ng-model="pessoa.telefone_fixo_principal.telefone" ng-required="true" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- telefone fixo end-->

                <!-- telefone celular start -->
                <div class="row">
                  <div class="form-group col-md-12  required" ng-class="{'has-error':formDadosPessoais.celPais.$invalid || formDadosPessoais.celArea.$invalid || formDadosPessoais.celNumero.$invalid}">
                    <label class="col-md-2 control-label">Celular:</label>
                    <div class="col-md-10">
                      <div class="row">
                        <div class="col-sm-1">
                          <input type="text" only-digits maxlength="3" name="celPais" class="form-control input-sm num" ng-required="true" ng-model="pessoa.telefone_celular_principal.codigoPais" />
                        </div>
                        <div class="col-sm-1">
                          <input type="text" only-digits maxlength="3" name="celArea" class="form-control input-sm num" ng-required="true" ng-model="pessoa.telefone_celular_principal.codigoArea" />
                        </div>
                        <div class="col-sm-2">
                          <input type="text" only-digits maxlength="9" class="form-control input-sm num" name="celNumero" ng-required="true" ng-model="pessoa.telefone_celular_principal.telefone" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- telefone celular end -->

                <!-- email start -->
                <div class="row">
                  <div class="form-group col-md-12 required" ng-class="{'has-error':formDadosPessoais.email.$invalid}">
                    <label class=" col-md-2 control-label">E-mail:</label>
                    <div class="col-md-8" >
                      <input type="email" class="form-control input-sm" name="email" ng-model="pessoa.correio_eletronico_principal.email" ng-required="true" maxlength="100" />
                    </div>
                  </div>
                </div>
                <!-- email end -->

                <!-- Endereço -->
                <div class="inner-panel-title">Endereço </div>
                <div class="alert alert-info alert-dismissable">
                  Caso o sistema não recupere os dados do endereço, informe seu CEP e acione a opção 'Consultar'.
                  <br>
                </div>
                <!-- tipo de endereço -->
                <div class="row">
                  <div class=" col-md-12 control-label">
                    <label class="checkbox-inline">
                      <input type="radio" ng-change="changeFormEndereco('NACIONAL')" ng-model="formPessoa.tipoEndereco" value="NACIONAL"> Nacional
                    </label>

                    <label class="checkbox-inline">
                      <input type="radio"  ng-change="changeFormEndereco('EXTERIOR')" ng-model="formPessoa.tipoEndereco" value="EXTERIOR"> Exterior
                    </label>
                  </div>
                </div>

                <!-- cep -->
                <div class="row" ng-if="formPessoa.tipoEndereco == 'NACIONAL'">
                  <div class="form-group col-md-12 required">
                    <label class=" col-md-2 control-label">CEP:</label>
                    <div class=" col-md-9">
                      <input type="text" class="form-control input-sm" ng-required="true" ng-model="formPessoa.cep" ng-value="pessoa.endereco_principal.cep" ui-br-cep-mask />
                    </div>
                    <a class="btn btn-sm btn-primary" ng-click="consultarCep(formPessoa.cep)">Consultar</a>
                  </div>
                </div>

                <!-- pais -->
                <div class="row">
                  <div class="form-group col-md-12 required">
                    <label class="col-md-2 control-label">País:</label>
                    <div class=" col-md-10" ng-if="formPessoa.tipoEndereco == 'EXTERIOR'">
                      <select
                        capes-chosen
                        ng-change="consultaEstados(pessoa.endereco_principal.pais)"
                        ng-required="true"
                        data-placeholder="Selecione"
                        options="paises"
                        name="endereco_pais"
                        id="endereco_pais"
                        class="form-control"
                        ng-model="pessoa.endereco_principal.pais"
                        ng-options="item.nome for item in pessoa.dados_auxiliares.paises  track by item.id">
                      </select>
                    </div>
                    <div class="col-md-10" ng-if="formPessoa.tipoEndereco == 'NACIONAL'">
                      <div ng-if="endereco_principal_fail">
                        <select
                                capes-chosen
                                ng-change="consultaEstados(pessoa.endereco_principal.municipio.uf.pais)"
                                ng-required="true"
                                data-placeholder="Selecione"
                                options="paises"
                                name="endereco_pais"
                                id="endereco_pais"
                                class="form-control"
                                ng-model="pessoa.endereco_principal.municipio.uf.pais"
                                ng-options="item.nome for item in pessoa.dados_auxiliares_brasileiro.paises  track by item.id">
                        </select>
                      </div>
                      <div ng-if="!endereco_principal_fail">
                        {{pessoa.endereco_principal.municipio.uf.pais.nome }}
                      </div>
                    </div>
                  </div>
                </div>

                <!-- uf -->
                <div class="row">
                  <div class="form-group col-md-12 required">
                    <label class="col-md-2 control-label">UF:</label>
                    <div class="col-md-10" ng-if="formPessoa.tipoEndereco == 'EXTERIOR' || endereco_principal_fail">
                      <select
                        capes-chosen
                        id="endereco_estado"
                        ng-change="consultaMunicipios(pessoa.endereco_principal.municipio.uf)"
                        ng-required="true"
                        data-placeholder="Selecione"
                        name="endereco_estado"
                        class="form-control"
                        options="formPessoa.estados"
                        ng-model="pessoa.endereco_principal.municipio.uf"
                        ng-options="e.nome for e in formPessoa.estados track by e.id">
                      </select>
                    </div>
                    <div class="col-md-10" ng-if="formPessoa.tipoEndereco == 'NACIONAL' && !endereco_principal_fail">
                      {{pessoa.endereco_principal.municipio.uf.nome}}
                    </div>
                  </div>
                </div>

                <!-- cidade -->
                <div class="row" >
                  <div class="form-group col-md-12 required">
                    <label class="col-md-2 control-label">Cidade:</label>
                    <div class="col-md-10" ng-if="formPessoa.tipoEndereco == 'EXTERIOR' || endereco_principal_fail">
                      <select
                        capes-chosen
                        data-placeholder="Selecione"
                        ng-required="true"
                        options="formPessoa.municipios"
                        name="endereco_municipio"
                        id="endereco_municipio"
                        class="form-control"
                        ng-model="pessoa.endereco_principal.municipio"
                        ng-options="item.nome for item in formPessoa.municipios track by item.id">
                      </select>
                    </div>
                    <div class="col-md-10" ng-if="formPessoa.tipoEndereco == 'NACIONAL' && !endereco_principal_fail">
                      {{pessoa.endereco_principal.municipio.nome}}
                    </div>
                  </div>
                </div>

                <!-- bairro -->
                <div class="row">
                  <div class="form-group col-md-12 required" ng-class="{'has-error':formDadosPessoais.bairro.$invalid}" >
                    <label class="col-md-2 control-label">Bairro:</label>
                    <div class="col-md-10">
                      <input type="text" class="form-control input-sm" ng-model="pessoa.endereco_principal.bairro" ng-required="true" name="bairro" maxlength="80" />
                    </div>
                  </div>
                </div>

                <!-- numero -->
                <div class="row">
                  <div class="form-group col-md-12 required" ng-class="{'has-error':formDadosPessoais.numero.$invalid}">
                    <label class="col-md-2 control-label">Número:</label>
                    <div class="col-md-10">
                      <input type="text" class="form-control input-sm" maxlength="15" name="numero" ng-model="pessoa.endereco_principal.numero" ng-required="true"/>
                    </div>
                  </div>
                </div>

                <!-- complemento -->
                <div class="row">
                  <div class="form-group col-md-12 required" ng-class="{'has-error':formDadosPessoais.complemento.$invalid}">
                    <label class="col-md-2 control-label">Complemento:</label>
                    <div class="col-md-10">
                    <input type="text" class="form-control input-sm" name="complemento" ng-required="true" ng-model="pessoa.endereco_principal.complemento" maxlength="60" />
                    </div>
                  </div>
                </div>

                <!-- logradouro -->
                <div class="row">
                  <div class="form-group col-md-12 required" ng-class="{'has-error':formDadosPessoais.logradouro.$invalid}">
                    <label class="col-md-2 control-label">Logradouro:</label>
                    <div class="col-md-10">
                      <input type="text" class="form-control input-sm" name="logradouro" ng-required="true" ng-model="pessoa.endereco_principal.logradouro"  maxlength="150"/>
                    </div>
                  </div>
                </div>

                <!-- salvar -->
                <div class="row">
                  <div class="form-group col-md-12">
                    <button type="button" class="btn btn-primary" ng-click="salvarDadosPessoa(pessoa)" ng-disabled="formDadosPessoais.$invalid">Salvar</button>
                  </div>
                </div>
              </form>

              <form novalidate id="artigo" name="artigo" >

                <div class="inner-panel-title"><a class="btn-link">Dados do artigo</a></div>

                <div class="alert alert-info alert-dismissable">
                  <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                  “Caso não encontre o artigo, favor entrar em contato com o Programa de Pós-Graduação
                  para inserir os dados do
                  artigo publicado na Plataforma Sucupira, no campo “Produção Intelectual”.
                </div>

                <!-- categoria / comissão -->
                <div class="form-group  col-md-12 required">
                  <label class="control-label">Categoria a concorrer: </label><br/>
                  <div ng-repeat="cat in formArtigo.categorias">
                    <input type="radio" ng-required="true" name="categoria" ng-model="inscricao.id_comissao_avaliacao" value="{{ cat.id }}"> {{ cat.nome }}
                  </div>
                </div>

                <!-- periódico -->
                <div class="form-group  col-md-4">
                  <label class="control-label">Título do periódico: </label>
                  <select
                    capes-chosen
                    ng-change="carregarArtigos(inscricao.periodico, pessoa)"
                    data-placeholder="Selecione"
                    options="formArtigo.periodicos"
                    ng-required="true"
                    name="titulo_periodico"
                    id="titulo_periodico"
                    class="form-control"
                    ng-model="inscricao.periodico"
                    ng-options="item.titulo for item in formArtigo.periodicos track by item.id_veiculo">
                  </select>
                </div>

                <!-- Título do Artigo -->
                <div class="form-group col-md-4 required">
                  <label class="control-label">Título do artigo:</label>
                  <select ng-change="carregaDadosDoArtigo()"
                    capes-chosen data-placeholder="Selecione"
                    options="formArtigo.artigos"
                    ng-required="true"
                    name="titulo_artigo"
                    id="titulo_artigo"
                    class="form-control"
                    ng-model="inscricao.artigo"
                    ng-options="item as item.titulo for item in formArtigo.artigos track by item.id">
                  </select>
                </div>

                <!-- ano publicação -->
                <div class="form-group col-md-4">
                  <label class="control-label">Ano da publicação:</label>
                  <input class="form-control"
                    type="text"
                    ng-readonly="true"
                    ng-model="inscricao.detalhe_inscricao.nr_ano_publicacao" />
                </div>

                <!-- ISSN -->
                <div class="form-group col-md-4">
                  <label class="control-label">ISSN:</label>
                  <input type="text"
                    class="form-control"
                    ng-readonly="!has_issn"
                    ng-model="inscricao.detalhe_inscricao.nr_issn"/>
                </div>

                <!-- coautores -->
                <div class="form-group col-md-12">
                  <label class="control-label">Coautores:</label>
                </div>

                <div class="form-group col-md-12">
                  <fieldset data-ng-repeat="coautor in inscricao.coautores">
                    <div class="col-md-8">
                      <input type="text"
                        ng-readonly="true"
                        class="form-control"
                        ng-model="coautor.nome"
                        name="coautor{{ $index }}"
                        placeholder="Coautor">
                    </div>
                  </fieldset>
                </div>

                <!-- declaração -->
                <div class="form-group col-md-12">
                  <label class="control-label">&nbsp;</label>
                  <div class="form-group col-md-6 checkbox required">
                    <label>
                      <input type="checkbox"
                        checked required
                        name="declaro"
                        value="sim"
                        ng-click="declaracao()"
                        ng-model="formArtigo.declaracao"/>
                        Declaro ser primeiro autor do artigo.
                    </label>
                  </div>
                </div>
              </form>

            </div>

            <div class="inner-panel-actions pull-right">
                <div class="btn-group btn-group-sm">
                    <button

                            type="button"
                            class="btn btn-primary"
                            ng-click="save()"
                            ng-disabled="artigo.$invalid || formArtigo.$invalid || formDadosPessoais.$invalid">
                            <!--ng-disabled="artigo.$invalid && !formArtigo.declaracao">-->
                        <i class="glyphicon glyphicon-file"></i> Salvar
                    </button>

                    <a class="btn btn-default"
                        href="#/passo1/{{inscricao.id}}">
                        <i class="glyphicon glyphicon-arrow-left"></i> Voltar</a>

                    <button

                            type="button"
                            class="btn btn-primary"
                            ng-click="avancarForm()"
                            ng-disabled="artigo.$invalid || formArtigo.$invalid || formDadosPessoais.$invalid">
                            <!--ng-disabled="artigo.$invalid && !formArtigo.declaracao">-->
                        <i class="glyphicon glyphicon-file"></i> Próximo Passo
                    </button>

                </div>
            </div>
        </div>
      </div>
    </li>
  </ul>
</div>

