<fieldset>
    <legend>Documentos</legend>
    <div class="col-sm-12">
        <div class="alert alert-info alert-dismissable">
            <!--            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>-->
            Os documentos devem estar no formato PDF.<br />
            Limite de upload de arquivo: 8MB
        </div>

        <div class="inner-panel dashboard">
            <h4></h4>
            <ul>
                <li class="state-active">
                    <div class="inner-panel-title">
                        <a class="btn-link">Documentos a serem enviados</a>
                    </div>                            
                    <div class="inner-panel-content">
                        <!-- <div class="alert alert-warning alert-dismissable">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        Sua inscrição foi indeferida na análise técnica, porém você pode entrar com
                        <span class="alert-link">recurso até o dia xx/xx/xxx</span>.
                        </div>-->
                        <div class="row">
                            <br />
                            <div data-ng-repeat="arquivo in arquivos.tipos_documentos">
                                <div class="form-group col-md-4">
                                    <label class="control-label">{{ arquivo.nome}}:</label><br />
                                    <form class="dropzone btn btn-default" capes-fileupload="fileuploadConf">
                                        <i class="glyphicon glyphicon-upload"></i>
                                        <input 
                                            type="hidden" 
                                            name="tipo_documento_evento" 
                                            value="{{ arquivo.id}}" 
                                            ng-model="arquivo.id" />
                                        <input 
                                            type="hidden" 
                                            name="tipo_documento" 
                                            value="{{ arquivo.tipo_documento}}" 
                                            ng-model="arquivo.tipo_documento" />
                                        <input 
                                            type="hidden" 
                                            name="id_inscricao" 
                                            value="{{ inscricao.id }}" 
                                            ng-model="inscricao.id" />
                                        <input 
                                            type="hidden" 
                                            name="id_pessoa" 
                                            value="{{ usuarioLogado.usuario.corporativo.id}}" 
                                            ng-model="id_pessoa" />
                                        <input 
                                            type="hidden" 
                                            name="usuario_logado" 
                                            value="{{ usuarioLogado.usuario.corporativo.nome}}" 
                                            ng-model="usuario_logado" />
                                    </form>
                                </div>
                                <div ng-if="$index == 2" class="row">&nbsp;</div>
                            </div>
                        </div>
                </li>
                <li class="state-finished">
                    <div class="inner-panel-title">
                        <a class="btn-link">Documentos enviados</a>
                        <div class="inner-panel-actions pull-right">
                        </div>
                    </div>
                    <div class="inner-panel-content">
                        <!-- <div class="alert alert-info alert-dismissable">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        Sua inscrição somente será analisada após a submissão da mesma pelo botão <span class="alert-link">“Finalizar”</span>.
                        </div>-->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-condensed">
                                        <thread>
                                            <tr>
                                                <th>Descrição</th>
                                                <th>Data</th>
                                                <th>Nome</th>
                                                <th>Opções</th>
                                            </tr>
                                        </thread>
                                        <tbody>
                                            <tr ng-repeat="arquivo in arquivos_enviado.enviados">
                                                <td>{{ arquivo.tipo}}</td>
                                                <td>{{ arquivo.data}}</td>
                                                <td>{{ arquivo.nome}}</td>
                                                <td style="width:10%">
                                                    <a ng-href="../rest/arquivo/download/{{ arquivo.id}}"
                                                       type="button"
                                                       class="btn btn-success btn-xs"><i
                                                            class="glyphicon glyphicon-download-alt"></i></a>
                                                    <button
                                                        ng-click="remover(arquivo)"
                                                        type="button"
                                                        class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>  
                    </div>                                
                </li>
            </ul>
        </div>
        <div class="inner-panel-actions pull-right">
            <div class="btn-group btn-group-sm">
                <a class="btn btn-default" 
                   href="#/passo2/{{inscricao.id}}">
                    <i class="glyphicon glyphicon-arrow-left"></i> Voltar</a>
                <a class="btn btn-primary" 
                   ng-click="finalizar(artigo, arquivos_enviado.qtdArquivos)"
                   ng-disabled="arquivos_enviado.qtdArquivos == false">
                    <i class="glyphicon glyphicon-arrow-right"></i> Finalizar Inscrição</a>
            </div>
        </div>
    </div>  
</fieldset>