<form role="form" ng-if="init">
        <alert ng-show="aviso['parametrizacao'].show"
               type="{{ aviso['parametrizacao'].type}}"
               close="fecharAviso()">{{ aviso['parametrizacao'].msg}}
        </alert>
    <div class="inner-panel dashboard">
        <ul>
            <li class="state-finished">
                <div class="inner-panel-title">
                    <a class="btn-link">PESQUISAR TESE/DISSERTAÇÃO</a>
                    <div class="inner-panel-actions pull-right">
                    </div>
                </div>
                <div class='row' ng-show="validaParametro===true">
                    <div class="col-sm-12">
                        <div class="alert alert-info alert-dismissable">
                            Documentos necessários à inscrição:<br />
                            1) Exemplar do artigo;<br />
                            2) Declaração de concordância do autor com o regulamento do Prêmio;<br />
                            3) Justificativa de candidatura de acordo com a categoria;<br />
                            4) Cópia e resumo da tese/dissertação associada ao artigo ou da proposta de tese/dissertação;<br />
                            5) Minicurrículo do autor.<br />
                        </div>

                        <div class="row">
                            <div style="position: relative; left: 5px;">
                                <div class="form-group col-md-10 required">
                                    <label class="control-label">Autor:</label>
                                    <input disabled type="text"
                                           class="form-control"
                                           required ng-model="usuarioLogado.usuario.corporativo.nome"/>
                                </div>
                                <div class="form-group col-md-2">
                                    <label class="control-label">&nbsp;</label>
                                    &nbsp;
                                </div>
                                <div class="form-group col-md-10 required">
                                    <label class="control-label">Artigo decorrente de:</label><br />

                                    <div class="radio">
                                    <label><input type="radio" ng-model="dados_inscricao.id_tp_subtp_producao" value="M"/>Mestrado</label>
                                    </div>

                                    <div class="radio">
                                      <label><input type="radio" ng-model="dados_inscricao.id_tp_subtp_producao"value="D"/> Doutorado</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-10 required">
                                    <label class="control-label">Situação:</label><br />

                                    <div class="radio">
                                        <label><input type="radio" ng-model="dados_inscricao.status_artigo" value="F" ng-change="resetDadosInscricao('F')"/> Finalizado </label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" ng-model="dados_inscricao.status_artigo" value="A" ng-change="resetDadosInscricao('A')"/> Em andamento</label>
                                    </div>
                                </div>


                                <!-- INICIO FORM ARTIGO EM ANDAMENTO -->
                                <div ng-show="isArtigoEmAndamento()" style="position: relative; left: 5px;">
                                    <div class="form-group col-md-10 required">
                                        <label class="control-label">Título projeto (Tese/Dissertação):</label>
                                        <input type="text"  class="form-control"  required ng-model="dados_inscricao.nm_producao" maxlength="120" />
                                    </div>
                                    <div class="form-group col-md-10 required">
                                        <label class="control-label">Ano previsto para defesa da Tese/Dissertação:</label>
                                        <select capes-chosen
                                                data-placeholder="Selecione"
                                                options="dados_form.anos_previstos_defesa"
                                                required
                                                class="form-control"
                                                ng-model="dados_inscricao.an_conclusao_producao"
                                                ng-options="item.id as item.nome for item in dados_form.anos_previstos_defesa.anos">
                                        </select>
                                    </div>
                                    <div class="form-group col-md-10 required">
                                        <label class="control-label">IES:</label>
                                        <select ng-change="carregarProgramas()"
                                                capes-chosen
                                                data-placeholder="Selecione"
                                                options="dados_form.ies"
                                                required
                                                class="form-control"
                                                ng-model="dados_inscricao.ies"
                                                ng-options="item.id as item.nome + ' (' + item.sigla + ')' for item in dados_form.ies">
                                        </select>
                                    </div>
                                    <div class="form-group col-md-10 required">
                                        <label class="control-label">Programa:</label>
                                        <select capes-chosen
                                                data-placeholder="Selecione"
                                                options="dados_form.programas_snpg.programas"
                                                required
                                                class="form-control"
                                                ng-model="dados_inscricao.cd_programa"
                                                ng-options="item.codigo as item.nome + ' (' + item.codigo + ')' for item in dados_form.programas_snpg.programas">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- FIM FORM ARTIGO EM ANDAMENTO -->

                        <!-- INICIO FORM ARTIGO FINALIZADO -->
                        <div class="form-group col-md-10 required" ng-show="isArtigoFinalizado()" style="position: relative;">
                            <label class="control-label">Teses/Dissertações do Autor:</label>
                            <div class="table-responsive">
                              <table class="table table-bordered table-hover table-center">
                                  <thead>
                                      <tr>
                                          <th>Código</th>
                                          <th ng-if="dados_inscricao.id_tp_subtp_producao == 'D'">Título da Tese</th>
                                          <th ng-if="dados_inscricao.id_tp_subtp_producao == 'M'">Título da Dissertação</th>
                                          <th>Autor</th>
                                          <th>Defesa</th>
                                          <th>Selecionar</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr ng-repeat="tese in teses" ng-class="{'success' : tese.id == dados_inscricao.id_tese}">
                                          <td align="center">{{ tese.id }}</td>
                                          <td>{{ tese.titulo }}</td>
                                          <td>{{ tese.nome }}</td>
                                          <td align="center">{{ tese.defesa | date : 'MM/yyyy' }}</td>
                                          <td align="center">
                                            <button ng-click="selecionarTese(tese)" type="button"  class="btn btn-xs btn-default">
                                              <i class="glyphicon glyphicon-plus"></i>
                                            </button>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                            </div>
                        </div>
                    </div>

                <!-- FIM FORM ARTIGO FINALIZADO -->

                <div class="inner-panel-actions pull-right" style="position: relative; right: 15px;">
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-primary"
                          ng-click="save()" ng-disabled="!isValid()">
                          <i class="glyphicon glyphicon-file"></i> Salvar
                        </button>

                        <a class="btn btn-default" href="#/">
                          <i class="glyphicon glyphicon-arrow-left"></i> Voltar
                        </a>

                        <button type="button" class="btn btn-primary" ng-click="avancarForm()" ng-disabled="!isValid()">
                            <i class="glyphicon glyphicon-file"></i> Próximo Passo
                        </button>
                    </div>
                </div>
              </div>
            </li>
        </ul>
    </div>
</form>
