<form name="enviar" ng-submit="salvar()" class="form-horizontal">
    <div class="row">
        <div class="col-sm-12">
            <alert ng-show="aviso.show"
                   type="{{ aviso.type}}"
                   close="fecharAviso()">{{ aviso.msg}}
            </alert>
            <div class="inner-panel dashboard">
                <ul>
                    <li class="state-finished">
                        <div class="inner-panel-title">
                            <a class="btn-link">GERENCIAR PRÊMIO</a>
                            <div class="inner-panel-actions pull-right">
                            </div>
                        </div>
                        <div class="inner-panel-content">
                            <fieldset class="ng-scope">
                                <legend>Dados do Evento</legend>
                            </fieldset>
                            <input type="hidden"
                                   name="id"
                                   id="id"
                                   ng-model="dados.id"/>
                            <input type="hidden"
                                   name="tipos_documentos"
                                   id="tipos_documento"
                                   ng-required="true"
                                   ng-model="rowsDocs"/>
                            <input type="hidden"
                                   name="itens_cheklist"
                                   id="itens_cheklist"
                                   ng-required="true"
                                   ng-model="rowsChecklist"/>
                            <input type="hidden"
                                   name="categorias_tematicas"
                                   id="categorias_tematicas"
                                   ng-required="true"
                                   ng-model="rowsTematicas"/>
                            <input type="hidden"
                                   name="parametrizacao_premio"
                                   id="parametrizacao_premio"
                                   ng-required="true"
                                   ng-model="rowsParametros"/>
                            <div class="row">
                                <div class="form-group required">
                                    <label class="col-sm-3 control-label">Ano do Evento:</label>
                                    <div class="col-sm-2" id="ano_even">
                                        <input class="form-control"
                                               type="text"
                                               id="ano"
                                               name="ano"
                                               maxlength="4"
                                               ng-pattern="regex"
                                               capes-masked-input="9999"
                                               ng-change="validarAno(dados.ano, 'ano')"
                                               ng-model="dados.ano"/>
                                    </div>
                                    <label class="col-sm-2 control-label">Ano da Premiação:</label>
                                    <div class="col-sm-2" id="ano_prem">
                                        <input class="form-control"
                                               type="text" regex
                                               id="ano_premiacao"
                                               name="ano_premiacao"
                                               maxlength="4"
                                               ng-pattern="regex"
                                               capes-masked-input="9999"
                                               ng-change="validarAno(dados.ano_premiacao, 'ano_premiacao')"
                                               ng-model="dados.ano_premiacao"/>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="col-sm-3 control-label">Nome do Evento:</label>
                                    <div class="col-sm-8" id="nome_evento">
                                        <input class="form-control"
                                               type="text"
                                               id="nome"
                                               name="nome"
                                               maxlength="100"
                                               ng-model="dados.nome"/>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="col-sm-3 control-label">Título do Prêmio:</label>
                                    <div class="col-sm-8" id="titulo_premio">
                                        <input class="form-control"
                                               type="text"
                                               id="titulo"
                                               name="titulo"
                                               maxlength="100"
                                               ng-model="dados.titulo"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Descrição Evento:</label> 
                                    <div class="col-sm-8" id="descricao_evento">
                                        <input class="form-control"
                                               type="text"
                                               id="descricao"
                                               name="descricao"
                                               maxlength="500"
                                               ng-model="dados.descricao"/>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="col-sm-3 control-label">Situação:</label>
                                    <div class="col-sm-3">
                                        <select capes-chosen
                                                data-placeholder="Selecione"
                                                name="situacao"
                                                id="situacao"
                                                options="situacoes"
                                                class="form-control"
                                                ng-model="dados.situacao"
                                                ng-options="item.nome for item in situacoes track by item.id">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="col-sm-3 control-label">Tipos Documentos:</label>
                                    <div class="col-sm-7" id="documento_tipo">
                                        <select capes-chosen
                                                data-placeholder="Selecione"
                                                name="tipo_documento"
                                                id="tipo_documento"
                                                options="dados.all_tipo_documentos"
                                                class="form-control"
                                                ng-model="dados.tipo_documento"
                                                ng-options="item.nome for item in dados.all_tipo_documentos track by item.id">
                                        </select>
                                    </div>
                                    <button type="button"
                                            class="btn btn-primary btn-sm"
                                            ng-click="addRow(rowsDocs, dados.tipo_documento)">
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </button>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">&nbsp;</label>
                                    <div class="col-sm-7">
                                        <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th width="95%">Tipos de Documentos</th>
                                                    <th width="5%"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="rowDoc in rowsDocs| orderBy: 'nome'">
                                                    <td>{{ rowDoc.nome}}</td>
                                                    <td align="center">
                                                        <a ng-show="dados.faseVerificacaoIniciada != true"
                                                           href="" 
                                                           ng-click="removeRow(rowsDocs, rowDoc.id, 1)"><i
                                                                class="glyphicon glyphicon-remove"></i></a>
                                                    </td>
                                                </tr>
                                                <tr ng-if="rowsDocs.length == 0">
                                                    <td colspan="2" align="center">{{ AppSettings.messages.MSG012}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="col-sm-3 control-label">Itens de Checklist:</label>
                                    <div class="col-sm-7" id="checklist_item">
                                        <select capes-chosen
                                                data-placeholder="Selecione"
                                                name="item_cheklist"
                                                id="item_cheklist"
                                                options="dados.all_itens_checklist"
                                                class="form-control"
                                                ng-model="dados.item_checklist"
                                                ng-options="item.nome for item in dados.all_itens_checklist track by item.id">
                                        </select>
                                    </div>
                                    <button type="button"
                                            class="btn btn-primary btn-sm"
                                            ng-click="addRow(rowsChecklist, dados.item_checklist)">
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </button>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">&nbsp;</label>
                                    <div class="col-sm-7">
                                        <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th width="95%">Itens de Checklist</th>
                                                    <th width="5%"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="rowChecklist in rowsChecklist| orderBy: 'nome'">
                                                    <td>{{ rowChecklist.nome}}</td>
                                                    <td align="center">
                                                        <a href="" 
                                                           ng-show="dados.faseVerificacaoIniciada != true"
                                                           ng-click="removeRow(rowsChecklist, rowChecklist.id, 2)"><i
                                                                class="glyphicon glyphicon-remove"></i></a>
                                                    </td>
                                                </tr>
                                                <tr ng-if="rowsChecklist.length == 0">
                                                    <td colspan="2" align="center">{{ AppSettings.messages.MSG012}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="col-sm-3 control-label">Categoria Temática:</label>
                                    <div class="col-sm-7" id="categoria_tematicas">
                                        <select capes-chosen
                                                data-placeholder="Selecione"
                                                name="categoria_tematica"
                                                id="categoria_tematica"
                                                options="dados.all_categoria_tematica"
                                                class="form-control"
                                                ng-model="dados.categoria_tematica"
                                                ng-options="item.nome for item in dados.all_categoria_tematica track by item.id">
                                        </select>
                                    </div>
                                    <button type="button"
                                            class="btn btn-primary btn-sm"
                                            ng-click="addRow(rowsTematicas, dados.categoria_tematica)">
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </button>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">&nbsp;</label>
                                    <div class="col-sm-7">
                                        <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th width="95%">Categoria Temática do Evento</th>
                                                    <th width="5%"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="rowTematica in rowsTematicas">
                                                    <td>{{ rowTematica.nome}}</td>
                                                    <td align="center">
                                                        <a href="" 
                                                           ng-show="dados.faseVerificacaoIniciada != true"
                                                           ng-click="removeRow(rowsTematicas, rowTematica.id, 3)"><i
                                                                class="glyphicon glyphicon-remove"></i></a>
                                                    </td>
                                                </tr>
                                                <tr ng-if="rowsTematicas.length == 0">
                                                    <td colspan="2" align="center">{{ AppSettings.messages.MSG012}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="edicao != 0">
                                <fieldset class="ng-scope">
                                    <legend>Configuração de Parâmetros do Evento por Fase</legend>
                                </fieldset>
                                <div class="row">
                                    <div id="contem_fase_param" class="form-group required">
                                        <label class="col-sm-3 control-label">Fases do Evento:</label>
                                        <div class="col-sm-7">
                                            <select capes-chosen
                                                    data-placeholder="Selecione"
                                                    name="fases"
                                                    ng-disabled="disabledSelect"
                                                    id="fases"
                                                    options="parametrizacoes.fases"
                                                    class="form-control"
                                                    ng-model="fase_evento"
                                                    ng-options="item.nome for item in parametrizacoes.fases track by item.id">
                                            </select>
                                        </div>
                                    </div>
                                    <div id="contem_parametro_param" class="form-group required">
                                        <label class="col-sm-3 control-label">Parâmetro:</label>
                                        <div class="col-sm-7">
                                            <select capes-chosen
                                                    chzn_allow_deselect
                                                    data-placeholder="Selecione"
                                                    name="parametros"
                                                    id="parametros"
                                                    ng-disabled="disabledSelect"
                                                    options="fase_evento.parametros"
                                                    class="form-control"
                                                    ng-model="parametro"
                                                    ng-options="item.nome for item in fase_evento.parametros track by item.id">
                                            </select>
                                        </div>
                                        <div class="col-sm-2">
                                            <i>{{ parametro.descricao}}</i>
                                        </div>
                                    </div>

                                    <div class="form-group required">
                                        <label class="col-sm-3 control-label">Valor:</label>
                                        <div id="contem_valor_param" class="col-sm-7">
                                            <input class="form-control"
                                                   type="text"
                                                   id="valor"
                                                   name="valor"
                                                   ng-model="valor"
                                                   ng-pattern="validaValor"
                                                   maxlength="{{maxLength}}"
                                                   ng-blur="validarValParam(enviar.$valid)"/>
                                        </div>
                                        <div class="col-sm-2">
                                            <i>{{ parametro.categoria}}</i>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Unidade:</label>
                                        <div class="col-sm-1">
                                            <select capes-chosen
                                                    data-placeholder="Selecione"
                                                    name="unidades"
                                                    id="unidades"
                                                    options="parametro.unidades"
                                                    class="form-control"
                                                    ng-model="unidade"
                                                    ng-options="item.nome for item in parametro.unidades track by item.id">
                                            </select>
                                        </div>
                                        <div id="param_tipo" class="required">
                                            <label class="col-sm-1 control-label">Tipo:</label>
                                            <div class="col-sm-2">
                                                <select capes-chosen
                                                        data-placeholder="Selecione"
                                                        name="tipos"
                                                        id="tipos"
                                                        options="parametro.tipos"
                                                        class="form-control"
                                                        ng-model="tipo"
                                                        ng-change="validarValParam(enviar.valor.$valid)"
                                                        ng-options="item.nome for item in parametro.tipos track by item.id">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="required">
                                            <label class="col-sm-1 control-label">Operação:</label>
                                            <div class="col-sm-2">
                                                <select capes-chosen
                                                        data-placeholder="Selecione"
                                                        name="operacoes"
                                                        id="operacoes"
                                                        options="parametro.operacoes"
                                                        class="form-control"
                                                        ng-model="operacao"
                                                        ng-options="item.nome for item in parametro.operacoes track by item.id">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">&nbsp;</label>
                                    <div class="col-sm-7">
                                        <label>
                                            <input type="checkbox"
                                                   checked
                                                   id="situacao_parametro"
                                                   name="situacao_parametro"
                                                   value="sim"
                                                   ng-checked="ativarDesativarSituacaoParametro(situacao_parametro)"
                                                   ng-model="situacao_parametro"/>
                                            Ativo
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-left: 2px">
                                    <button type="button" 
                                            class="btn btn-primary btn-sm"
                                            ng-click="$watch(validarValParam(enviar.valor.$valid), addParametroFormulario())">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span>Adicionar</span>
                                    </button>
                                </div>
                                <table class="table table-striped table-bordered table-hover table-center">
                                    <thead>
                                        <tr>
                                            <th width="30%">Fase</th>
                                            <th width="30%">Categoria Temática</th>
                                            <th width="24%">Parâmetro</th>
                                            <th width="24%">Descrição</th>
                                            <th width="5%">Valor</th>
                                            <th width="5%">Unidade</th>
                                            <th width="5%">Tipo</th>
                                            <th width="5%">Operação</th>
                                            <th width="5%">Situação</th>
                                            <th width="1%"></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr ng-repeat="rowParametro in rowsParametros| orderBy: 'fase_evento.nome':'parametro.nome'">
                                            <td>{{ rowParametro.fase_evento.nome}}</td>
                                            <td>{{ rowParametro.parametro.categoria}} {{ rowParametro.categoria_tematica.nome}} <span ng-if="rowParametro.categoria_tematica.nome == '' || rowParametro.parametro.categoria == '' ">Não se aplica</span></td>
                                            <td>{{ rowParametro.parametro.nome}}</td>
                                            <td>{{ rowParametro.parametro.descricao}}</td>
                                            <td>{{ rowParametro.valor}}</td>
                                            <td>{{ rowParametro.unidade.nome}}</td>
                                            <td align="center">{{ rowParametro.tipo.nome}}</td>
                                            <td align="center">{{ rowParametro.operacao.nome}}</td>
                                            <td align="center">
                                                <span ng-if="rowParametro.situacao_parametro === 'A' || rowParametro.situacao_parametro == true">Ativo</span>
                                                <span ng-if="rowParametro.situacao_parametro === false || rowParametro.situacao_parametro === 'I'">Inativo</span>
                                            </td>
                                            <td ng-if="validarNumComissao(rowParametro.parametro, rowParametro.fase_evento) === true" align="center">

                                                <a class="" style="cursor: pointer" ng-click="$watch(disabledInput(), editParametro(rowParametro))">
                                                    <i class="glyphicon glyphicon-pencil"></i></a>
                                            </td>
                                            <td ng-if="validarNumComissao(rowParametro.parametro, rowParametro.fase_evento) === false" align="center">

                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </td>
                                        </tr>
                                        <tr ng-if="!rowsParametros">
                                            <td colspan="8" align="center">{{ AppSettings.messages.MSG012}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="form-group" style="margin-left: 2px">
                                <button type="submit"
                                        class="btn btn-primary">
                                    <i class="glyphicon glyphicon-file"></i>
                                    <span>Salvar</span>
                                </button>
                                <a class="btn btn-default"
                                   href="#/calendario">
                                    <i class="glyphicon glyphicon-arrow-left"></i> Voltar</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</form>
