<div class="row">
    <div class="col-sm-12">
        <alert ng-show="aviso.show"
               type="{{ aviso.type }}"
               close="fecharAviso()">{{ aviso.msg }}
        </alert>
        <div class="inner-panel dashboard">
            <ul>
                <li class="state-finished">
                    <div class="inner-panel-title">
                        <a class="btn-link">MANTER FASES</a>

                        <div class="inner-panel-actions pull-right">
                        </div>
                    </div>
                    <div class="inner-panel-content">
                        <form name="enviar" ng-submit="salvar()" class="form-horizontal">
                            <input type="hidden"
                                   id="id"
                                   name="id"
                                   ng-model="fase.id" />
                            <div class="row">
                                <div id="fase_nome" class="form-group required">
                                    <label class="col-sm-3 control-label">Descrição da Fase:</label>
                                    <div class="col-sm-8">
                                        <input class="form-control"
                                               type="text"
                                               ng-readonly="false"
                                               ng-change="validarInput(enviar)"
                                               id="nome"
                                               name="nome"
                                               ng-pattern="regex"
                                               ng-model="fase.nome"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">&nbsp;</label>
                                <div class="col-sm-11">
                                <button type="submit"
                                        class="btn btn-primary">
                                    <i class="glyphicon glyphicon-file"></i>
                                    <span ng-if="!fase.id">Adicionar</span>
                                    <span ng-if="fase.id">Salvar</span>
                                </button>
                                    </div>
                            </div>

                        </form>
                        <table class="table table-striped table-bordered table-hover table-center">
                            <thead>
                            <tr>
                                <th width="5%">ID</th>
                                <th width="85%">Descrição da Fase</th>
                                <th width="10%">Opções</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="(key,fase) in fases.itens | orderBy:'nome'">

                                <td align="center">{{ key+1 }}</td>
                                <td>{{ fase.nome }}</td>
                                <td align="center">
                                    <a href="" ng-click="alterar(fase.id)"><i
                                            class="glyphicon glyphicon glyphicon-pencil"></i></a>
                                    &nbsp;&nbsp;<a href="" ng-click="excluir(fase.id)"><i
                                            class="glyphicon glyphicon glyphicon-remove"></i></a>
                                </td>
                            </tr>
                            <tr ng-if="fases.length == 0">
                                <td colspan="3" align="center">{{ AppSettings.messages.MSG012 }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>