<fieldset>
    <div class="form-horizontal">
        <legend>Editais</legend>
        <div class="row">
            <div class="col-md-12">
                <alert ng-show="aviso.show"
                       type="{{ aviso.type}}"
                       close="fecharAviso()">{{ aviso.msg}}
                </alert>
            </div>
        </div>
    </div>
</fieldset>
<div class="inner-panel dashboard ng-scope">
    <div class="inner-panel-content">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped table-bordered table-hover table-center">
                    <thead>
                    <tr>
                        <th width="45%">Evento</th>
                        <th width="45%">Descrição</th>
                        <th width="10%">Ações</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="edital in itens_editais |  orderBy:'evento.nome'">
                        <td>{{edital.evento.nome}} {{edital.evento.ano}}</td>
                        <td align="center">{{edital.dsArquivoEvento}}</td>
                        <td align="center">
                            <a href="" ng-click="downloadFile(edital.id)">
                                <i class="glyphicon glyphicon-download-alt"></i></a>
                        </td>
                    </tr>
                    <tr ng-if="itens_editais.length == 0">
                        <td colspan="8" align="center">{{AppSettings.messages.MSG047}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="form-group" style="margin-left: 2px">
    <a class="btn btn-default"
       href="#/">
        <i class="glyphicon glyphicon-arrow-left"></i> Voltar</a>
</div>

