<fieldset>
    <div class="form-horizontal">
        <legend>Editais</legend>
        <div class="row">
            <div class="col-md-12">
                <alert ng-show="aviso.show"
                       type="{{ aviso.type}}"
                       close="fecharAviso()">{{ aviso.msg}}
                </alert>
            </div>
            <div class="col-sm-12">
                <div class="inner-panel dashboard">
                    <ul>
                        <li class="state-finished">
                            <div ng-show="permissao" id="form-incluir-edital" class="inner-panel-content">
                                <div class="row">
                                    <div class="form-group">
                                        <input type="hidden"
                                               name="id"
                                               id="id"
                                               ng-model="id"/>
                                    </div>

                                    <div class="form-group">
                                        <input type="hidden"
                                               name="edicao"
                                               id="edicao"
                                               ng-model="edicao"/>
                                    </div>

                                    <div id="evento_edital" class="form-group required">
                                        <label class="col-sm-2 control-label">Evento:</label>
                                        <div class="col-sm-8">
                                            <select capes-chosen
                                                    data-placeholder="Selecione"
                                                    name="evento"
                                                    ng-change="$watch(validarEvento())"
                                                    id="evento"
                                                    options="itens_combo"
                                                    class="form-control"
                                                    ng-model="evento"
                                                    ng-options="item as item.nome for item in itens_combo track by item.id">
                                            </select>
                                        </div>
                                    </div>


                                    <div id="ds_arquivo_evento" class="form-group required">
                                        <label class="col-sm-2 control-label">Descrição:</label>
                                        <div class="col-sm-9">
                                            <input class="form-control"
                                                   type="text"
                                                   id="dsArquivoEvento"
                                                   name="dsArquivoEvento"
                                                   maxlength="500"
                                                   ng-model="dsArquivoEvento"
                                                   ng-style="{'width': '745px'}"/>
                                        </div>
                                    </div>

                                    <div id="an_publicacao" class="form-group required">
                                        <label class="col-sm-2 control-label">Ano Publicação:</label>
                                        <div class="col-sm-3">
                                            <input class="form-control"
                                                   type="text"
                                                   id="anPublicacao"
                                                   name="anPublicacao"
                                                   maxlength="4"
                                                   ng-pattern="regex"
                                                   required
                                                   capes-masked-input="9999"
                                                   ng-change="$watch(validarAno(anPublicacao, 'anPublicacao'))"
                                                   ng-model="anPublicacao"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-horizontal">
                                    <div id="arquivo_edital" class="form-group required">
                                        <label class="col-sm-2 control-label">Arquivo:</label>

                                        <div id="file_upload" class="col-md-6">
                                            <form class="dropzone btn btn-default" name="edital" id="file-upload"
                                                  capes-fileupload="fileuploadConf">
                                                <i class="glyphicon glyphicon-upload"></i>
                                                <input
                                                        type="hidden"
                                                        name="tipo_documento"
                                                        value="98"
                                                        ng-model="tipo_documento"/>
                                                <input type="hidden"
                                                       name="id"
                                                       value="{{id}}"
                                                       ng-model="id"/>
                                                <input
                                                        type="hidden"
                                                        name="evento"
                                                        value="{{evento.id}}"
                                                        ng-model="evento"/>
                                                <input
                                                        type="hidden"
                                                        name="dsArquivoEvento"
                                                        value="{{dsArquivoEvento}}"
                                                        ng-model="dsArquivoEvento"/>
                                                <input
                                                        type="hidden"
                                                        name="anPublicacao"
                                                        value="{{anPublicacao}}"
                                                        ng-model="anPublicacao"/>

                                                <input
                                                        type="hidden"
                                                        name="inPublicacao"
                                                        value="{{inPublicacao}}"
                                                        ng-model="inPublicacao"/>
                                                <input
                                                        type="hidden"
                                                        name="id_pessoa"
                                                        value="{{ usuarioLogado.usuario.corporativo.id }}"
                                                        ng-model="id_pessoa"/>
                                                <input
                                                        type="hidden"
                                                        name="usuario_logado"
                                                        value="{{ usuarioLogado.usuario.corporativo.nome }}"
                                                        ng-model="usuario_logado"/>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"></label>
                                        <div class="col-sm-8">
                                            <input type="checkbox"
                                                   checked
                                                   id="inPublicacao"
                                                   name="inPublicacao"
                                                   ng-model="inPublicacao"/>
                                            <label> Publicar ?</label>
                                        </div>
                                    </div>
                                    <div id="btn_salvar" class="form-group">
                                        <label class="col-sm-2 control-label">
                                            <button type="button"
                                                    id="btn-salvar"
                                                    class="btn btn-primary">
                                                <i class="glyphicon glyphicon-file"></i>
                                                <span>Salvar</span>
                                            </button>
                                        </label>
                                        <div class="col-sm-3"></div>
                                    </div>

                                </div>

                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</fieldset>
<div class="inner-panel dashboard ng-scope">
    <div class="inner-panel-content">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped table-bordered table-hover table-center">
                    <thead>
                    <tr>
                        <th width="12%">Ano Publicação</th>
                        <th width="35%">Evento</th>
                        <th width="45%">Descrição</th>
                        <th width="8%">Ações</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="eventoArquivo in itens_arquivos">
                        <td>{{eventoArquivo.anPublicacao}}</td>
                        <td>{{eventoArquivo.evento.nome}}  {{eventoArquivo.evento.ano}}</td>
                        <td align="center">{{eventoArquivo.dsArquivoEvento}}</td>
                        <td align="center">
                            <a href="" ng-click="downloadFile(eventoArquivo.id)">
                                <i class="glyphicon glyphicon-download-alt"></i></a>&nbsp;&nbsp;
                            <a ng-show="permissao" href="" ng-click="editArquivo(eventoArquivo)"><i
                                    class="glyphicon glyphicon glyphicon-pencil"></i></a>
                            &nbsp;&nbsp;<a ng-show="permissao" href="" ng-click="removeArquivo(eventoArquivo.id)"><i
                                class="glyphicon glyphicon glyphicon-remove"></i></a>
                        </td>
                    </tr>
                    <tr ng-if="itens_arquivos.length == 0">
                        <td colspan="8" align="center">{{AppSettings.messages.MSG047}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


