<form novalidate name="avaliar" ng-submit="emitirParecer()" class="form-horizontal">
    <input type="hidden"
           name="participante"
           ng-model="dados.id_participante"/>
    <input type="hidden"
           name="inscricao"
           ng-model="dados.itens[0].id_inscricao"/>
    <input type="hidden"
           name="id_parecer"
           ng-model="dados.parecer[0].id"/>
    <div class="row">
        <div class="col-md-12">
            <alert ng-show="aviso['parametrizacao'].show"
                   type="{{ aviso['parametrizacao'].type}}"
                   close="fecharAviso('parametrizacao')">{{ aviso['parametrizacao'].msg}}
            </alert>
            <alert ng-show="aviso.show"
                   type="{{ aviso.type }}"
                   close="fecharAviso()">{{ aviso.msg }}
            </alert>
            <div class="panel">
                <div class="alert alert-danger" ng-show="{{ showbox}}"> {{ mensagem }}</div>
                <div class="inner-panel dashboard">
                    <h4>
                        <!--Analisar e emitir Parecer-->
                    </h4>
                    <ul>
                        <li class="state-active">
                            <div class="inner-panel-title">
                                <a class="btn-link">DADOS DA COMISSÃO</a>
                            </div>
                            <div class="inner-panel-content">
                                <div class="row">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Categoria:</label>
                                        <div class="col-sm-9">
                                            <p class="form-control-static">{{ dados.categoria.nome }}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Comissão:</label>
                                        <div class="col-sm-9">
                                            <p class="form-control-static">{{ dados.comissao.nome }}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Presidente:</label>
                                        <div class="col-sm-9">
                                            <p class="form-control-static">{{ dados.presidente }}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Comissão:</label>
                                        <div class="col-sm-9">
                                            <p ng-repeat="membro in dados.membros">{{ membro.nome }}<br/></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Autor:</label>
                                        <div class="col-sm-9">
                                            <p class="form-control-static">{{ dados.itens[0].autor }}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Título do
                                            Artigo:</label>
                                        <div class="col-sm-9">
                                            <p class="form-control-static">{{ dados.itens[0].titulo_artigo }}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Título do
                                            Periódico:</label>
                                        <div class="col-sm-9">
                                            <p class="form-control-static">{{ dados.itens[0].titulo_periodico }}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Artigo decorrente
                                            de:</label>
                                        <div class="col-sm-9">
                                            <p class="form-control-static ">{{ dados.itens[0].artigo_decorrente }}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Situação:</label>
                                        <div class="col-sm-9">
                                            <p class="form-control-static">{{ dados.itens[0].situacao }}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Arquivos:</label>
                                        <div class="col-sm-9">
                                            <p class="form-control-static">
                                                <a href=""
                                                   ng-click="downloadAllFiles(dados.itens[0].id_inscricao)"
                                                   type="button"
                                                   class="btn btn-success btn-xs"><i
                                                        class="glyphicon glyphicon-download-alt"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-10">
                                            <div class="alert alert-info" role="alert">
                                                Emitir parecer justificando a escolha dos artigos classificados com
                                                <strong>A</strong> em sua avaliação
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-10">
                                        <fieldset class="ng-scope">
                                            <legend>Emitir Parecer</legend>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="form-group" id="contem_sugestao">
                                    <label for="inputEmail3" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-9">
                                        <p class="form-control-static">
                                                <textarea ng-model="dados.parecer[0].texto"
                                                          name="descricao_parecer"
                                                          maxlength="4000"
                                                          class="form-control"
                                                          rows="10"></textarea>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Sugestão:</label>
                                    <div class="col-sm-9">
                                        <p class="form-control-static">
                                            <select capes-chosen
                                                    data-placeholder="Selecione"
                                                    name="indicacao"
                                                    id="indicacao"
                                                    required
                                                    options="item.id"
                                                    class="form-control"
                                                    ng-model="indicacoes.selecionado"
                                                    ng-options="item.nome for item in indicacoes.itens track by item.id">
                                            </select>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static">
                                            <button type="submit"
                                                    class="btn btn-primary"
                                                    ng-disabled="sugestaoObrigatoria()">
                                                <i class="glyphicon glyphicon-file"></i> Salvar
                                            </button>
                                            <a class="btn btn-default"
                                               href="#/analisar">
                                                <i class="glyphicon glyphicon-arrow-left"></i> Voltar</a>
                                        </p>
                                    </div>

                                    <div class="form-group" ng-if="dados.parecer_membros.length > 0">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-10">
                                            <fieldset class="ng-scope">
                                                <legend><br/><br/>Parecer dos Outros Integrantes</legend>
                                            </fieldset>
                                        </div>
                                    </div>

                                    <div class="row" ng-repeat="item in dados.parecer_membros">
                                        <div ng-if="item.presidente == 'S' && dados.mostrar_parecer_presidente != false">
                                            <div class="form-group">
                                                <label for="inputEmail3" class="col-sm-2 control-label">Justificativa
                                                    de:</label>
                                                <div class="col-sm-9">
                                                    <p class="form-control-static">{{ item.membro }} </p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputEmail3" class="col-sm-2 control-label"></label>
                                                <div class="col-sm-9">
                                                    <p class="form-control-static">
                                                                <textarea class="form-control"
                                                                          rows="4"
                                                                          disabled>{{ item.texto }}</textarea>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputEmail3"
                                                       class="col-sm-2 control-label">Sugestão:</label>
                                                <div class="col-sm-10">
                                                    <p class="form-control-static" ng-if="item.indicado == 'N'"> Não
                                                        indicado</p>
                                                    <p class="form-control-static" ng-if="item.indicado == 'S'">
                                                        Indicado</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="(!dados.parametrizacao) && dados.mostrar_pareceres == true">
                                            <div ng-if="item.presidente == 'N'">
                                                <div class="form-group">
                                                    <label for="inputEmail3" class="col-sm-2 control-label">Justificativa
                                                        de:</label>
                                                    <div class="col-sm-9">
                                                        <p class="form-control-static">{{ item.membro }} </p>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputEmail3" class="col-sm-2 control-label"></label>
                                                    <div class="col-sm-9">
                                                        <p class="form-control-static">
                                                                <textarea class="form-control"
                                                                          rows="4"
                                                                          disabled>{{ item.texto }}</textarea>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputEmail3"
                                                           class="col-sm-2 control-label">Sugestão:</label>
                                                    <div class="col-sm-10">
                                                        <p class="form-control-static" ng-if="item.indicado == 'N'"> Não
                                                            indicado</p>
                                                        <p class="form-control-static" ng-if="item.indicado == 'S'">
                                                            Indicado</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div ng-show="dados.possui_parecer" class="form-group">
                                        <label for="inputEmail3"
                                               class="col-sm-2 control-label"></label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">
                                                <button type="button"
                                                        ng-click="baixarTodosPareceres(dados.itens[0].id_inscricao)"
                                                        class="btn btn-primary btn-xs"
                                                        ng-disabled="checklist.$valid">
                                                    <i class="glyphicon glyphicon-file"></i> Gerar Relatório com
                                                    os Pareceres
                                                </button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</form>
