<form class="form-horizontal">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <alert ng-show="aviso['parametrizacao'].show"
                       type="{{ aviso['parametrizacao'].type}}"
                       close="fecharAviso()">{{ aviso['parametrizacao'].msg}}
                </alert>
                <div class="alert alert-danger" ng-show="{{ showbox}}"> {{ mensagem }}</div>
                <div class="inner-panel dashboard">
                    <h4>
                        <!--Analisar e emitir Parecer-->
                    </h4>
                    <ul>
                        <li class="state-active">
                            <div class="inner-panel-title">
                                <a class="btn-link">DADOS DA COMISSÃO</a>
                                <div class="inner-panel-actions pull-right">
                                    <div class="btn-group btn-group-sm">
                                        <a ng-click="modalArquivosInstrucaoAvaliacao()" class="btn btn-primary">
                                            <i class="glyphicon glyphicon-file"></i> Instrução de Avaliação
                                        </a>
                                        <a ng-disabled="!dados.itens" ng-click="dados.itens && modalIncluirAvaliacao()" class="btn btn-primary">
                                            <i class="glyphicon glyphicon-file"></i> Incluir Avaliação
                                        </a>
                                        <a href="" ng-click="baixarPareceres('artigo')" class="btn btn-primary">
                                            <i class="glyphicon glyphicon-file"></i> Pareceres: Por
                                            Artigo
                                        </a>
                                        <a href="" ng-click="baixarPareceres('pessoa')" class="btn btn-primary">
                                            <i class="glyphicon glyphicon-file"></i> Pareceres: Por
                                            Pessoa
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="inner-panel-content">
                                <div class="row">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Categoria:</label>
                                        <div class="col-sm-5">
                                            <select ng-change="carregarComissoes()"
                                                    capes-chosen data-placeholder="Selecione"
                                                    name="categoria"
                                                    id="categoria"
                                                    required
                                                    options="dados.categorias"
                                                    class="form-control"
                                                    ng-model="dados.categoria"
                                                    ng-options="item.nome for item in dados.categorias track by item.idTema">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Comissão:</label>
                                        <div class="col-sm-5">
                                            <select ng-change="carregarAnaliseArtigos($dados.comisao)"
                                                    capes-chosen data-placeholder="Selecione"
                                                    name="comissoes"
                                                    id="comissoes"
                                                    required
                                                    options="comissoes.itens"
                                                    class="form-control"
                                                    ng-model="dados.comissao"
                                                    ng-options="item.nome for item in comissoes.itens track by item.id">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Presidente:</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{ dados.presidente }}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Comissão:</label>
                                        <div class="col-sm-10" style="padding-top: 7px">
                                            <p ng-repeat="membro in dados.membros">{{ membro.nome }}<br/></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="alert alert-info" role="alert">
                                            Emitir parecer justificando a escolha dos artigos classificados com <strong>A</strong> em sua avaliação
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="state-active">
                            <div class="inner-panel-title">
                                <a class="btn-link">Análise do artigo</a>
                            </div>
                            <div ng-if="dados.itens" class="inner-panel-content">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-condensed table-center">
                                                <thread>
                                                    <tr>
                                                        <th width="25%">Título do Artigo</th>
                                                        <th width="10%">Ano de Publicação</th>
                                                        <th width="15%">Autor</th>
                                                        <th width="25%">Título do Periódico</th>
                                                        <th width="5%">Arquivos</th>
                                                        <th width="15%">Indicação</th>
                                                        <th width="5%">Ver/Emitir Parecer</th>
                                                    </tr>
                                                </thread>
                                                <tbody>
                                                    <tr ng-repeat="item in dados.itens | limitTo:pagination.perPage : pagination.limit">
                                                        <td>{{ item.titulo_artigo }}</td>
                                                        <td align="center">{{ item.ano_publicacao }}</td>
                                                        <td>{{ item.autor }}</td>
                                                        <td>{{ item.titulo_periodico }}</td>
                                                        <td align="center">
                                                            <a href="" ng-click="downloadAllFiles(item.id_inscricao)">
                                                                <i class="glyphicon glyphicon-download-alt"></i></a>
                                                        </td>
                                                        <td align="center" nowrap="">
                                                            <div ng-repeat="indicacao in item.indicacoes">{{ indicacao.nome }} - {{ indicacao.sugestao }}</div>
                                                        </td>
                                                        <td align="center">
                                                            <a href="#avaliar/{{ item.id_inscricao }}">
                                                                <i class="glyphicon glyphicon-file"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <pagination ng-if="pagination.perPage <= pagination.total"
                                                    total-items="pagination.total"
                                                    items-per-page="pagination.perPage"
                                                    boundary-links="true"
                                                    ng-model="pagination.current"
                                                    rotate="false"
                                                    max-size="pagination.maxSize"
                                                    first-text="Primeiro"
                                                    previous-text="Anterior"
                                                    next-text="Próximo"
                                                    last-text="Último"
                                                    ng-change="pageChanged(page)"
                                                    num-pages="pagination.totalPages"></pagination>

                                    </div>
                                </div>
                            </div>

                            <div ng-if="!dados.itens" class="row">
                                <div class="col-sm-12"><br>
                                    <div class="alert alert-danger" role="alert" style="margin-left: 9px; margin-right: 9px;">
                                        Não há artigos atribuídos para análise nessa comissão.
                                    </div>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</form>