<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="fechar($dismiss)">
        <span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title"> Arquivos de Instrução de Avaliação</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal">

        <div class="row">
            <div class="col-sm-12">
                <div class="inner-panel dashboard">
                    <ul>
                        <li class="state-active">
                            <div class="inner-panel-title">
                                <a class="btn-link">Arquivos</a>
                            </div>

                            <div class="inner-panel-content">
                                <div class="row">
                                    <div class="col-sm-12">

                                        <table ng-if="documentos.length > 0" class="table table-striped table-bordered table-hover table-center">
                                            <thead>
                                            <tr>
                                                <th width="">Título do Documento</th>
                                                <th width="">Categoria</th>
                                                <th width="">Comissão</th>
                                                <th width="10%">&nbsp;</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="documento in documentos" >
                                                <td>{{ documento.titulo}}</td>
                                                <td>{{ documento.grupo.nome}}</td>
                                                <td>{{ documento.comissao.nome}}</td>
                                                <td>
                                                    <a ng-href="../rest/instrucao-avaliacao/{{ documento.id }}"  class="btn btn-success btn-xs">
                                                        <i class="glyphicon glyphicon-download-alt"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>


                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </form>
</div>