<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="fechar($dismiss)">
        <span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title"> Incluir Avaliação</h4>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <div class="row">
            <div class="col-sm-12">
                <div class="inner-panel dashboard">
                    <ul>
                        <li class="state-active">
                            <div class="inner-panel-title">
                                <a class="btn-link">Enviar Arquivo</a>
                            </div>

                            <div class="inner-panel-content">
                                <div class="row">
                                    <div class="col-sm-12">

                                        <div class="row form-horizontal">
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label ">Documento:</label><br />

                                                <div class="col-md-2">
                                                    <form class="dropzone btn btn-default" capes-fileupload="fileuploadConf">
                                                        <i class="glyphicon glyphicon-upload"></i>
                                                        <input
                                                                type="hidden"
                                                                name="tipo_documento"
                                                                value="{{ arquivo.id }}"
                                                                ng-model="arquivo.id" />
                                                        <input
                                                                type="hidden"
                                                                name="id_inscricao"
                                                                value="{{ id_inscricao }}"
                                                                ng-model="id_inscricao" />
                                                        <input
                                                                type="hidden"
                                                                name="id_pessoa"
                                                                value="{{ usuarioLogado.usuario.corporativo.id }}"
                                                                ng-model="id_pessoa" />
                                                        <input
                                                                type="hidden"
                                                                name="usuario_logado"
                                                                value="{{ usuarioLogado.usuario.corporativo.nome }}"
                                                                ng-model="usuario_logado" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="alert alert-info" role="alert" ng-if="arquivo.length">
                                            <strong>Arquivo enviado:</strong> {{arquivo[0].infoDocument.nome}}
                                        </div>

                                        <div class="alert alert-warning" role="alert" ng-if="arquivo.length == 0">
                                            <strong>Arquivo enviado:</strong> Nenhum arquivo enviado
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>