<div class="row">
    <div class="col-sm-12">
        <alert ng-show="aviso.show"
               type="{{ aviso.type}}"
               close="fecharAviso()">{{ aviso.msg}}
        </alert>
        <div class="inner-panel dashboard">
            <ul>
                <li class="state-finished">
                    <div class="inner-panel-title">
                        <a class="btn-link">DADOS DO CALENDÁRIO</a>

                        <div class="inner-panel-actions pull-right">
                        </div>
                    </div>
                    <div class="inner-panel-content">
                        <form name="enviar_evento" ng-submit="importar()" class="form-horizontal">
                            <input type="hidden"
                                   id="id_evento"
                                   name="id_evento"
                                   ng-model="itens.id_evento" />
                            <table class="table-condensed">
                                <tbody>
                                    <tr>
                                        <td>Ano do Prêmio:</td>
                                        <th>{{ itens.premio.ano}}</th>
                                    </tr>
                                    <tr>
                                        <td>Nome do Prêmio:</td>
                                        <th>{{ itens.premio.nome}}</th>
                                    </tr>
                                </tbody>
                            </table>
                            <br />
                            <div class="well">
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Ano do Evento:</label>
                                        <div class="col-sm-5">
                                            <select capes-chosen data-placeholder="Selecione"
                                                    name="importacao"
                                                    id="importacao"
                                                    options="itens.itens_evento"
                                                    class="form-control"
                                                    ng-model="evento.selecionado"
                                                    ng-options='item as item.dscCombo for item in itens.itens_evento track by item.id'
                                                    ng-disabled="itens.fases.length > 0">
                                            </select>
                                        </div>
                                        <div class="col-sm-5">
                                            <button type="submit"
                                                    class="btn btn-primary"
                                                    ng-disabled="itens.fases.length > 0">
                                                <i class="glyphicon glyphicon-file"></i>
                                                Importar
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12" style="margin-left: 60px">
                                            Para importação de fases de outro evento: Selecionar uma opção da lista "Ano do Evento" e o botão "Importar".<br />
                                            Para importação de fases existentes independente de evento: Deve ser deixada a informação "Ano do Evento" em branco e selecionar o botão "Importar".
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form name="enviar" ng-submit="salvar()" class="form-horizontal ng-pristine ng-valid" >
                            <table class="table table-striped table-bordered table-hover table-center">
                                <thead>
                                    <tr>
                                        <th width="3%"></th>
                                        <th width="5%">Ordem</th>
                                        <th width="25%">Fase</th>
                                        <th width="16%">Data de Início</th>
                                        <th width="16%">Previsão Data Fim</th>
                                        <th width="13%">Encerramento</th>
                                        <th width="10%">Situação</th>
                                        <th width="5%">Duração</th>
                                        <th width="5%">Excluir</th>
                                    </tr>
                                </thead>

                                <tbody ng-model="itens.fases" ui-sortable="sortableOptions">
                                    <tr ng-repeat="fase in itens.fases">
                                        <td>
                                            <span class="glyphicon glyphicon-menu-up" ng-hide="$index == 0"></span>
                                            <span class="glyphicon glyphicon-menu-down" ng-hide="$index == (itens.fases.length - 1)"></span>
                                        </td>
                                        <td>{{ $index + 1}}</td>
                                        <td>{{ fase.nome}}</td>
                                        <td>
                                            <div id="dtInicio-{{$index}}" class="obr">
                                                <input
                                                    class="form-control datepicker ng-isolate-scope"
                                                    capes-masked-input="99/99/9999 99:99"
                                                    capes-Datetime-Picker 
                                                    type="text"
                                                    ng-change="calcularDuracao(fase.inicio, fase.previsaoEncerramento, fase)"
                                                    ng-model="fase.inicio" />
                                            </div>
                                        </td>
                                        <td>
                                            <div id="dtFinal-{{$index}}" class="obr">
                                                <input
                                                    class="form-control"
                                                    capes-masked-input="99/99/9999 99:99"
                                                    capes-Datetime-Picker 
                                                    type="text"
                                                    ng-change="calcularDuracao(fase.inicio, fase.previsaoEncerramento, fase)"
                                                    ng-model="fase.previsaoEncerramento" />
                                            </div>
                                        </td>
                                        <td>{{ fase.fim}}</td>
                                        <td>
                                            <div id="situacao-{{$index}}">
                                                <select capes-chosen data-placeholder="Selecione"
                                                        options="item.id"
                                                        class="form-control obr sele"
                                                        ng-model="fase.situacao"
                                                        ng-options="item.nome for item in situacoes track by item.id">
                                                </select>
                                            </div>
                                        </td>
                                        <td align="center">
                                            {{ fase.duracao}} dias
                                        </td>
                                        <td align="center">
                                            <input type="checkbox"
                                                   ng-model="excluir[fase.idFase]" />
                                        </td>
                                    </tr>
                                    <tr ng-if="itens.fases == null">
                                        <td colspan="9" align="center">{{ AppSettings.messages.MSG012}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <input type="hidden"
                                   name="id_evento"
                                   ng-model="itens.id_evento" />
                            <input type="hidden"
                                   name="fases"
                                   ng-model="itens.fases" />
                            <input type="hidden"
                                   name="excluir"
                                   ng-model="excluir" />
                            <div class="form-group">
                                <label class="col-sm-12 control-label">&nbsp;</label>
                                <div class="col-sm-11">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="glyphicon glyphicon-file"></i>
                                        Salvar
                                    </button>
                                    <a class="btn btn-default"
                                       href="#/calendario">
                                        <i class="glyphicon glyphicon-arrow-left"></i> Voltar</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
