<div class="row">
    <div class="col-sm-12">
        <alert ng-show="aviso.show"
               type="{{ aviso.type }}"
               close="fecharAviso()">{{ aviso.msg }}
        </alert>
        <div class="inner-panel dashboard">
            <ul>
                <li class="state-finished">
                    <div class="inner-panel-title">
                        <a class="btn-link">Manter Calendário de Prêmio</a>

                        <div class="inner-panel-actions pull-right">
                        </div>
                    </div>
                    <div class="inner-panel-content">
                        <form name="enviar" ng-submit="salvar()" class="form-horizontal">
                            <input type="hidden"
                                   id="id"
                                   name="id"
                                   ng-model="fase.id"/>
                            <table class="table-condensed" ng-if=" premios.premio_padrao.length > 0">
                                <tbody>
                                <tr>
                                    <td>Ano do Prêmio:</td>
                                    <th>{{ premios.premio_padrao[0].ano }}</th>
                                </tr>
                                <tr>
                                    <td>Nome do Prêmio:</td>
                                    <th>{{ premios.premio_padrao[0].nome }}</th>
                                </tr>
                                </tbody>
                            </table>
                            <br />
                            <table class="table table-striped table-bordered table-hover table-center">
                                <thead>
                                <tr>
                                    <th width="15%">Ano do Prêmio</th>
                                    <th width="25%">Prêmio</th>
                                    <th width="40%">Descrição do Prêmio</th>
                                    <th width="10%">Situação</th>
                                    <th width="5%">Fase</th>
                                    <th width="5%">Padrão</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr ng-repeat="premio in premios.itens | orderBy:'nome'">
                                    <td>{{ premio.ano }}</td>
                                    <td><a href="#premio/{{ premio.id }}">{{ premio.nome }}</a></td>
                                    <td>{{ premio.descricao }}</td>
                                    <td>
                                        <span ng-if="premio.situacao.id == 'A'">Aberto</span>
                                        <span ng-if="premio.situacao.id != 'A'">Fechado</span>
                                    </td>
                                    <td align="center">
                                        <a href="#/calendario/{{ premio.id }}" >
                                            <i class="glyphicon glyphicon glyphicon-time"></i></a>
                                    </td>
                                    <td align="center">
                                        <input type="radio"
                                               name="padrao"
                                               ng-checked="premio.padrao == 'S'"
                                               ng-click="alterarEventoPadrao(premio.id)" />
                                    </td>
                                </tr>
                                <tr ng-if="premios.itens.length == 0">
                                    <td colspan="6" align="center">Nenhum registro encontrado.</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="form-group">
                                <label class="col-sm-12 control-label">&nbsp;</label>
                                <div class="col-sm-11">
                                    <a class="btn btn-default"
                                       href="#/">
                                        <i class="glyphicon glyphicon-arrow-left"></i> Voltar</a>
                                    <a class="btn btn-primary"
                                       href="#/premio">
                                        <i class="glyphicon glyphicon-file"></i> Novo Evento</a>
                                    </div>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>