<style>
    .table > thead > tr > th {
        vertical-align: top;
    }
</style>
<div class="row" ng-init="carregaRelatorio('C')">
    <div class="col-sm-12">
        <alert ng-show="aviso.show"
               type="{{ aviso.type}}"
               close="fecharAviso()">{{ aviso.msg}}
        </alert>
        <div class="inner-panel dashboard">
            <ul>
                <li class="state-finished">
                    <div class="inner-panel-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3>Comissões em situação {{itens.titulo}}:</h3>
                                <br>
                                <a href="/rest/painel-premio?tpRelatorio=C&codElemento={{codElemento}}&export=true&etapa={{etapa}}" class="btn btn-default">
                                    <i class="glyphicon glyphicon-download-alt"></i>
                                    Excel
                                </a>
                                <br>
                                <br>
                                <div class="row" ng-repeat="item in itens.retorno">
                                    <div class="col-md-6" style="margin-bottom: 20px;">
                                        <h5 style="margin-bottom: 10px;">{{item.titulo}}</h5>
                                        <table class="table table-striped table-bordered table-hover table-condensed">
                                            <thead>
                                                <tr>
                                                    <th>Comissão</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="comissao in item.comissoes">
                                                    <td>{{comissao}}</td>
                                                </tr>
                                                <tr ng-if="item.comissoes.length == 0">
                                                    <td align="center">{{ AppSettings.messages.MSG012}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <a class="btn btn-default" href="#/painelpremio" style="margin-top: 20px;">
                                    <i class="glyphicon glyphicon-arrow-left"></i> Voltar</a>
                            </div>
                        </div> 
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>