<style>
    .cursor{
        cursor: pointer
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <alert ng-show="aviso.show"
               type="{{ aviso.type}}"
               close="fecharAviso()">{{ aviso.msg}}
        </alert>
        <div class="inner-panel dashboard">
            <ul>
                <li class="state-finished">
                    <div class="inner-panel-title">
                        <a class="btn-link">PAINEL DAS COMISSÕES DE JULGAMENTO</a>
                        <div class="inner-panel-actions pull-right">
                        </div>
                    </div>
                    <div class="inner-panel-content">
                        <div class="row">
                            <div class="col-md-5 form-group">
                                <label for="etapa" class="control-label">Etapa</label>
                                <select capes-chosen
                                        ng-change="carregaEtapa()"
                                        data-placeholder="Todos"
                                        name="etapa"
                                        id="etapa"
                                        required
                                        options="itens"
                                        class="form-control"
                                        ng-model="etapa"
                                        ng-options="item as item.dsc for item in itens track by item.id">
                                </select>
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <h5>Comissões</h5>
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                Situação 
                                                <span ng-show="!reverseSortS" ng-click="orderByFieldS = 'dscSituacao'; reverseSortS = !reverseSortS" class="glyphicon glyphicon-sort-by-attributes cursor" aria-hidden="true"></span>
                                                <span ng-click="orderByFieldS = 'dscSituacao'; reverseSortS = !reverseSortS" ng-show="reverseSortS" class="glyphicon glyphicon-sort-by-attributes-alt cursor" aria-hidden="true"></span>
                                            </th>
                                            <th>
                                                Quantidade
                                                <span ng-show="!reverseSortS" ng-click="orderByFieldS = 'qtdComissao'; reverseSortS = !reverseSortS" class="glyphicon glyphicon-sort-by-attributes cursor" aria-hidden="true"></span>
                                                <span ng-click="orderByFieldS = 'qtdComissao'; reverseSortS = !reverseSortS" ng-show="reverseSortS" class="glyphicon glyphicon-sort-by-attributes-alt cursor" aria-hidden="true"></span>                                                
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="comissao in retorno.comissoes| orderBy: orderByFieldS:reverseSortS" ng-click="redirect('/painelpremio/comissao/' + etapa.id + '/' + comissao.codElemento)" class="cursor">
                                            <td>{{comissao.dscSituacao}}</td>
                                            <td>{{comissao.qtdComissao}}</td>
                                        </tr>
                                        <tr ng-if="retorno.comissoes.length == 0">
                                            <td colspan="2" align="center">{{ AppSettings.messages.MSG012}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <h5>Comissões com parecer</h5>
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                Categoria
                                                <span ng-show="!reverseSortP" ng-click="orderByFieldP = 'dscCategoriaParecer'; reverseSortP = !reverseSortP" class="glyphicon glyphicon-sort-by-attributes cursor" aria-hidden="true"></span>
                                                <span ng-click="orderByFieldP = 'dscCategoriaParecer'; reverseSortP = !reverseSortP" ng-show="reverseSortP" class="glyphicon glyphicon-sort-by-attributes-alt cursor" aria-hidden="true"></span>
                                            </th>
                                            <th>
                                                Artigo
                                                <span ng-show="!reverseSortP" ng-click="orderByFieldP = 'qtdArtigo'; reverseSortP = !reverseSortP" class="glyphicon glyphicon-sort-by-attributes cursor" aria-hidden="true"></span>
                                                <span ng-click="orderByFieldP = 'qtdArtigo'; reverseSortP = !reverseSortP" ng-show="reverseSortP" class="glyphicon glyphicon-sort-by-attributes-alt cursor" aria-hidden="true"></span>
                                            </th>
                                            <th>
                                                Artigo com parecer
                                                <span ng-show="!reverseSortP" ng-click="orderByFieldP = 'qtdArtigoParecer'; reverseSortP = !reverseSortP" class="glyphicon glyphicon-sort-by-attributes cursor" aria-hidden="true"></span>
                                                <span ng-click="orderByFieldP = 'qtdArtigoParecer'; reverseSortP = !reverseSortP" ng-show="reverseSortP" class="glyphicon glyphicon-sort-by-attributes-alt cursor" aria-hidden="true"></span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="parecer in retorno.parecer| orderBy: orderByFieldP:reverseSortP" ng-click="redirect('/painelpremio/parecer/' + etapa.id + '/' + parecer.codElemento)" class="cursor">
                                            <td>{{parecer.dscCategoriaParecer}}</td>
                                            <td>{{parecer.qtdArtigo}}</td>
                                            <td>{{parecer.qtdArtigoParecer}}</td>
                                        </tr>
                                        <tr ng-if="retorno.parecer.length == 0">
                                            <td colspan="3" align="center">{{ AppSettings.messages.MSG012}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-1">
                            </div>
                            <div class="col-sm-5">
                                <h5>Comissões com parecer final</h5>
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                Categoria
                                                <span ng-show="!reverseSortF" ng-click="orderByFieldF = 'dscCategoriaParecerFinal'; reverseSortF = !reverseSortF" class="glyphicon glyphicon-sort-by-attributes cursor" aria-hidden="true"></span>
                                                <span ng-click="orderByFieldF = 'dscCategoriaParecerFinal'; reverseSortF = !reverseSortF" ng-show="reverseSortF" class="glyphicon glyphicon-sort-by-attributes-alt cursor" aria-hidden="true"></span>
                                            </th>
                                            <th>
                                                Enviado
                                                <span ng-show="!reverseSortF" ng-click="orderByFieldF = 'enviado'; reverseSortF = !reverseSortF" class="glyphicon glyphicon-sort-by-attributes cursor" aria-hidden="true"></span>
                                                <span ng-click="orderByFieldF = 'enviado'; reverseSortF = !reverseSortF" ng-show="reverseSortF" class="glyphicon glyphicon-sort-by-attributes-alt cursor" aria-hidden="true"></span>
                                            </th>
                                            <th>
                                                Quantidade
                                                <span ng-show="!reverseSortF" ng-click="orderByFieldF = 'quantidade'; reverseSortF = !reverseSortF" class="glyphicon glyphicon-sort-by-attributes cursor" aria-hidden="true"></span>
                                                <span ng-click="orderByFieldF = 'quantidade'; reverseSortF = !reverseSortF" ng-show="reverseSortF" class="glyphicon glyphicon-sort-by-attributes-alt cursor" aria-hidden="true"></span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="parecerFinal in retorno.parecerFinal| orderBy: orderByFieldF:reverseSortF" ng-click="redirect('/painelpremio/parecerfinal/' + etapa.id + '/' + parecerFinal.codElemento)" class="cursor">
                                            <td>{{parecerFinal.dscCategoriaParecerFinal}}</td>
                                            <td>{{parecerFinal.enviado}}</td>
                                            <td>{{parecerFinal.quantidade}}</td>
                                        </tr>
                                        <tr ng-if="retorno.parecerFinal.length == 0">
                                            <td colspan="3" align="center">{{ AppSettings.messages.MSG012}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>