<style>
    .table > thead > tr > th {
        vertical-align: top;
    }
</style>
<div class="row" ng-init="carregaRelatorio('P')">
    <div class="col-sm-12">
        <alert ng-show="aviso.show"
               type="{{ aviso.type}}"
               close="fecharAviso()">{{ aviso.msg}}
        </alert>
        <div class="inner-panel dashboard">
            <ul>
                <li class="state-finished">
                    <div class="inner-panel-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3>Pareceres encaminhados pela categoria de {{itens.titulo}}:</h3>
                                <br>
                                <a href="/rest/painel-premio?tpRelatorio=P&codElemento={{codElemento}}&export=true&etapa={{etapa}}" class="btn btn-default">
                                    <i class="glyphicon glyphicon-download-alt"></i>
                                    Excel
                                </a>
                                <br>
                                <br>
                                <div class="row" ng-repeat="item in itens.retorno">
                                    <div class="col-md-12" style="margin-bottom: 20px;">
                                        <h3 style="font-size: 18px; font-weight: bold;">{{item.nmComissao}}</h3>
                                        <br>
                                        <div ng-repeat="consultor in item.consultores">
                                            <div style="margin-bottom: 10px;">
                                                <strong>Consultor:</strong> {{consultor.nmConsultor}}
                                            </div>
                                            <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 20px;">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 20%;">Artigo</th>
                                                        <th style="width: 15%;">Autor</th>
                                                        <th style="width: 15%;">IES</th>
                                                        <th style="width: 40%;">Parecer</th>
                                                        <th style="width: 10%;">Sugestão</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="artigo in consultor.artigos">
                                                        <td>{{artigo.tituloArtigo}}</td>
                                                        <td>{{artigo.nmAutor}}</td>
                                                        <td>{{artigo.IES}}</td>
                                                        <td>{{artigo.parecer}}</td>
                                                        <td>{{artigo.sugestao}}</td>
                                                    </tr>
                                                    <tr ng-if="consultor.artigos.length == 0">
                                                        <td colspan="5" align="center">{{ AppSettings.messages.MSG012}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                                <br>
                                <a class="btn btn-default" href="#/painelpremio" style="margin-top: 20px;">
                                    <i class="glyphicon glyphicon-arrow-left"></i> Voltar</a>
                            </div>
                        </div> 
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>