<style>
    .table > thead > tr > th {
        vertical-align: top;
    }
</style>
<div class="row" ng-init="carregaRelatorio('F')">
    <div class="col-sm-12">
        <alert ng-show="aviso.show"
               type="{{ aviso.type}}"
               close="fecharAviso()">{{ aviso.msg}}
        </alert>
        <div class="inner-panel dashboard">
            <ul>
                <li class="state-finished">
                    <div class="inner-panel-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3>Parecer final da comissão de {{itens.titulo}}:</h3>
                                <br>
                                <a href="/rest/painel-premio?tpRelatorio=F&codElemento={{codElemento}}&export=true&etapa={{etapa}}" class="btn btn-default">
                                    <i class="glyphicon glyphicon-download-alt"></i>
                                    Excel
                                </a>
                                <br>
                                <br>
                                <div class="row" ng-repeat="item in itens.retorno">
                                    <div class="col-md-7" style="margin-bottom: 40px;">
                                        <table class="table table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                                            <thead>
                                                <tr class="active">
                                                    <th>Nome da Comissão:</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{item.nmComissao}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                                            <thead>
                                                <tr class="active">
                                                    <th>Nome do Presidente:</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{item.nmPresidente}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                                            <thead>
                                                <tr class="active">
                                                    <th>Nome do Membro da Comissão:</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="comissao in item.comissoes">
                                                    <td>{{comissao}}</td>
                                                </tr>
                                                <tr ng-if="item.comissoes.length == 0">
                                                    <td align="center">{{ AppSettings.messages.MSG012}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                                            <thead>
                                                <tr class="active">
                                                    <th>Título do Artigo:</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="artigo in item.artigos">
                                                    <td>{{artigo}}</td>
                                                </tr>
                                                <tr ng-if="item.artigos.length == 0">
                                                    <td align="center">{{ AppSettings.messages.MSG012}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                                            <thead>
                                                <tr class="active">
                                                    <th>Parecer final:</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{item.parecerFinal}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <a class="btn btn-default" href="#/painelpremio" style="margin-top: 20px;">
                                    <i class="glyphicon glyphicon-arrow-left"></i> Voltar</a>                                
                            </div>
                        </div> 
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>