<style>
    .cursor{
        cursor: pointer
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <alert ng-show="aviso.show"
               type="{{ aviso.type}}"
               close="fecharAviso()">{{ aviso.msg}}
        </alert>
        <div class="inner-panel dashboard">
            <ul>
                <li class="state-finished">
                    <div class="inner-panel-title">
                        <a class="btn-link">PAINEL DE RESUMO DAS INSCRIÇÕES</a>
                        <div class="inner-panel-actions pull-right">
                        </div>
                    </div>
                    <div class="inner-panel-content">
                        <div class="row">
                            <div class="col-sm-5">
                                <h5>Por Situação</h5>
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                Situação 
                                                <span ng-show="!reverseSortS" ng-click="orderByFieldS = 'dscSituacao'; reverseSortS = !reverseSortS" class="glyphicon glyphicon-sort-by-attributes cursor" aria-hidden="true"></span>
                                                <span ng-click="orderByFieldS = 'dscSituacao'; reverseSortS = !reverseSortS" ng-show="reverseSortS" class="glyphicon glyphicon-sort-by-attributes-alt cursor" aria-hidden="true"></span>
                                            </th>
                                            <th>
                                                Quantidade
                                                <span ng-show="!reverseSortS" ng-click="orderByFieldS = 'qtdSituacao'; reverseSortS = !reverseSortS" class="glyphicon glyphicon-sort-by-attributes cursor" aria-hidden="true"></span>
                                                <span ng-click="orderByFieldS = 'qtdSituacao'; reverseSortS = !reverseSortS" ng-show="reverseSortS" class="glyphicon glyphicon-sort-by-attributes-alt cursor" aria-hidden="true"></span>                                                
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="porSituacao in retorno.porSituacao | orderBy: orderByFieldS:reverseSortS"
                                            ng-click="redirect('/painelinscricao/porsituacao/' + porSituacao.codElemento)"
                                            class="cursor"
                                            ng-if="porSituacao.tpSituacao==1">
                                            <td>{{ porSituacao.dscSituacao}}</td>
                                            <td>{{ porSituacao.qtdSituacao}}</td>
                                        </tr>
                                        <tr ng-repeat="porSituacao in retorno.porSituacao | orderBy: orderByFieldS:reverseSortS"
                                            ng-click="redirect('/painelinscricao/porsituacao/' + porSituacao.codElemento)"
                                            class="cursor"
                                            ng-if="porSituacao.tpSituacao==2"
                                            style="font-weight: bold; border-bottom: 2px solid #666;" >
                                            <td>{{ porSituacao.dscSituacao}}</td>
                                            <td>{{ porSituacao.qtdSituacao}}</td>
                                        </tr>
                                        <tr ng-repeat="porSituacao in retorno.porSituacao | orderBy: orderByFieldS:reverseSortS"
                                            ng-click="redirect('/painelinscricao/porsituacao/' + porSituacao.codElemento)"
                                            class="cursor"
                                            ng-if="porSituacao.tpSituacao==3">
                                            <td>{{ porSituacao.dscSituacao}}</td>
                                            <td>{{ porSituacao.qtdSituacao}}</td>
                                        </tr>
                                        <tr ng-if="retorno.porSituacao.length == 0">
                                            <td colspan="2" align="center">{{ AppSettings.messages.MSG012}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-1">
                            </div>
                            <div class="col-sm-5">
                                <h5>Por Ano da Premiação</h5>
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                Ano da Edição
                                                <span ng-show="!reverseSortP" ng-click="orderByFieldP = 'dscPremiacao'; reverseSortP = !reverseSortP" class="glyphicon glyphicon-sort-by-attributes cursor" aria-hidden="true"></span>
                                                <span ng-click="orderByFieldP = 'dscPremiacao'; reverseSortP = !reverseSortP" ng-show="reverseSortP" class="glyphicon glyphicon-sort-by-attributes-alt cursor" aria-hidden="true"></span>
                                            </th>
                                            <th>
                                                Quantidade
                                                <span ng-show="!reverseSortP" ng-click="orderByFieldP = 'qtdPremiacao'; reverseSortP = !reverseSortP" class="glyphicon glyphicon-sort-by-attributes cursor" aria-hidden="true"></span>
                                                <span ng-click="orderByFieldP = 'qtdPremiacao'; reverseSortP = !reverseSortP" ng-show="reverseSortP" class="glyphicon glyphicon-sort-by-attributes-alt cursor" aria-hidden="true"></span>                                                
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="porPremiacao in retorno.porPremiacao | orderBy: orderByFieldP:reverseSortP" ng-click="redirect('/painelinscricao/porano/' + porPremiacao.codElemento)" class="cursor">
                                            <td>{{ porPremiacao.dscPremiacao}}</td>
                                            <td>{{ porPremiacao.qtdPremiacao}}</td>
                                        </tr>
                                        <tr ng-if="retorno.porPremiacao.length == 0">
                                            <td colspan="2" align="center">{{ AppSettings.messages.MSG012}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <h5>Por IES</h5>
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                IES
                                                <span ng-show="!reverseSortI" ng-click="orderByFieldI = 'dscIes'; reverseSortI = !reverseSortI" class="glyphicon glyphicon-sort-by-attributes cursor" aria-hidden="true"></span>
                                                <span ng-click="orderByFieldI = 'dscIes'; reverseSortI = !reverseSortI" ng-show="reverseSortI" class="glyphicon glyphicon-sort-by-attributes-alt cursor" aria-hidden="true"></span>
                                            </th>
                                            <th>
                                                Quantidade
                                                <span ng-show="!reverseSortI" ng-click="orderByFieldI = 'qtdIes'; reverseSortI = !reverseSortI" class="glyphicon glyphicon-sort-by-attributes cursor" aria-hidden="true"></span>
                                                <span ng-click="orderByFieldI = 'qtdIes'; reverseSortI = !reverseSortI" ng-show="reverseSortI" class="glyphicon glyphicon-sort-by-attributes-alt cursor" aria-hidden="true"></span>                                                
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="porIes in retorno.porIes | orderBy: orderByFieldI:reverseSortI" ng-click="redirect('/painelinscricao/pories/' + porIes.codElemento)" class="cursor">
                                            <td>{{ porIes.dscIes}}</td>
                                            <td>{{ porIes.qtdIes}}</td>
                                        </tr>
                                        <tr ng-if="retorno.porIes.length == 0">
                                            <td colspan="2" align="center">{{ AppSettings.messages.MSG012}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-1">
                            </div>
                            <div class="col-sm-5">
                                <h5>Por Qualis</h5>
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                Classificação do Qualis
                                                <span ng-show="!reverseSortQ" ng-click="orderByFieldQ = 'dscQualis'; reverseSortQ = !reverseSortQ" class="glyphicon glyphicon-sort-by-attributes cursor" aria-hidden="true"></span>
                                                <span ng-click="orderByFieldQ = 'dscQualis'; reverseSortQ = !reverseSortQ" ng-show="reverseSortQ" class="glyphicon glyphicon-sort-by-attributes-alt cursor" aria-hidden="true"></span>
                                            </th>
                                            <th>
                                                Quantidade
                                                <span ng-show="!reverseSortQ" ng-click="orderByFieldQ = 'qtdQualis'; reverseSortQ = !reverseSortQ" class="glyphicon glyphicon-sort-by-attributes cursor" aria-hidden="true"></span>
                                                <span ng-click="orderByFieldQ = 'qtdQualis'; reverseSortQ = !reverseSortQ" ng-show="reverseSortQ" class="glyphicon glyphicon-sort-by-attributes-alt cursor" aria-hidden="true"></span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="porQualis in retorno.porQualis | orderBy: orderByFieldQ:reverseSortQ" ng-click="redirect('/painelinscricao/porqualis/' + porQualis.codElemento)" class="cursor">
                                            <td>{{ porQualis.dscQualis}}</td>
                                            <td>{{ porQualis.qtdQualis}}</td>
                                        </tr>
                                        <tr ng-if="retorno.porQualis.length == 0">
                                            <td colspan="2" align="center">{{ AppSettings.messages.MSG012}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-5">
                                <h5>Por Categoria</h5>
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                Categoria
                                                <span ng-show="!reverseSortC" ng-click="orderByFieldC = 'dscCategoria'; reverseSortC = !reverseSortC" class="glyphicon glyphicon-sort-by-attributes cursor" aria-hidden="true"></span>
                                                <span ng-click="orderByFieldC = 'dscCategoria'; reverseSortC = !reverseSortC" ng-show="reverseSortC" class="glyphicon glyphicon-sort-by-attributes-alt cursor" aria-hidden="true"></span>
                                            </th>
                                            <th>
                                                Quantidade
                                                <span ng-show="!reverseSortC" ng-click="orderByFieldC = 'qtdCategoria'; reverseSortC = !reverseSortC" class="glyphicon glyphicon-sort-by-attributes cursor" aria-hidden="true"></span>
                                                <span ng-click="orderByFieldC = 'qtdCategoria'; reverseSortC = !reverseSortC" ng-show="reverseSortC" class="glyphicon glyphicon-sort-by-attributes-alt cursor" aria-hidden="true"></span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="porCategoria in retorno.porCategoria | orderBy: orderByFieldC:reverseSortC" ng-click="redirect('/painelinscricao/porcategoria/' + porCategoria.codElemento)" class="cursor">
                                            <td>{{ porCategoria.dscCategoria}}</td>
                                            <td>{{ porCategoria.qtdCategoria}}</td>
                                        </tr>
                                        <tr ng-if="retorno.porCategoria.length == 0">
                                            <td colspan="2" align="center">{{ AppSettings.messages.MSG012}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-1">
                            </div>
                            <div class="col-sm-5">
                                <h5>Por Nível</h5>
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                Nível
                                                <span ng-show="!reverseSortN" ng-click="orderByFieldN = 'nivel'; reverseSortN = !reverseSortN" class="glyphicon glyphicon-sort-by-attributes cursor" aria-hidden="true"></span>
                                                <span ng-click="orderByFieldN = 'nivel'; reverseSortN = !reverseSortN" ng-show="reverseSortN" class="glyphicon glyphicon-sort-by-attributes-alt cursor" aria-hidden="true"></span>
                                            </th>
                                            <th>
                                                Situação Nível
                                                <span ng-show="!reverseSortN" ng-click="orderByFieldN = 'situacao'; reverseSortN = !reverseSortN" class="glyphicon glyphicon-sort-by-attributes cursor" aria-hidden="true"></span>
                                                <span ng-click="orderByFieldN = 'situacao'; reverseSortN = !reverseSortN" ng-show="reverseSortN" class="glyphicon glyphicon-sort-by-attributes-alt cursor" aria-hidden="true"></span>
                                            </th>
                                            <th>
                                                Quantidade
                                                <span ng-show="!reverseSortN" ng-click="orderByFieldN = 'qtdNivel'; reverseSortN = !reverseSortN" class="glyphicon glyphicon-sort-by-attributes cursor" aria-hidden="true"></span>
                                                <span ng-click="orderByFieldN = 'qtdNivel'; reverseSortN = !reverseSortN" ng-show="reverseSortN" class="glyphicon glyphicon-sort-by-attributes-alt cursor" aria-hidden="true"></span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="porNivel in retorno.porNivel | orderBy: orderByFieldN:reverseSortN" ng-click="redirect('/painelinscricao/pornivel/' + porNivel.codElemento)" class="cursor">
                                            <td>{{ porNivel.nivel}}</td>
                                            <td>{{ porNivel.situacao}}</td>
                                            <td>{{ porNivel.qtdNivel}}</td>
                                        </tr>
                                        <tr ng-if="retorno.porNivel.length == 0">
                                            <td colspan="3" align="center">{{ AppSettings.messages.MSG012}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>     
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
