<style>
    .table > thead > tr > th {
        vertical-align: top;
    }
</style>
<div class="row" ng-init="carregaRelatorio('C')">
    <div class="col-sm-12">
        <alert ng-show="aviso.show"
               type="{{ aviso.type}}"
               close="fecharAviso()">{{ aviso.msg}}
        </alert>
        <div class="inner-panel dashboard">
            <ul>
                <li class="state-finished">
                    <div class="inner-panel-title">
                        <a class="btn-link">PAINEL DE RESUMO DAS INSCRIÇÕES</a>
                        <div class="inner-panel-actions pull-right">
                        </div>
                    </div>
                    <div class="inner-panel-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3>Inscrições por Categoria:</h3>
                                <br>
                                <a href="/rest/painel-inscricao?tpRelatorio=C&codElemento={{codElemento}}&export=true" class="btn btn-default">
                                    <i class="glyphicon glyphicon-download-alt"></i>
                                    Excel
                                </a>
                                <br>
                                <br>
                                <div class="col-md-12" style="overflow-x: auto">
                                    <table class="table table-striped table-bordered table-hover table-condensed" style="margin-left: -14px; margin-bottom: 0px;">
                                        <thead>
                                            <tr>
                                                <th>Categoria</th>
                                                <th>Título do Artigo</th>
                                                <th>Ano da Publicação do Artigo</th>
                                                <th>Título do Periódico</th>
                                                <th>ISSN do Periódico</th>
                                                <th>CPF/Passaporte</th>
                                                <th>Identificador (Login)</th>
                                                <th>Nome do Autor</th>
                                                <th>Nível</th>
                                                <th>Situação do Nível</th>
                                                <th>Ano do Nível</th>
                                                <th>Nome da IES</th>
                                                <th>Código PPG</th>
                                                <th>Nome do PPG</th>
                                                <th>Código da Área de Avaliação do PPG</th>
                                                <th>Nome da Área de Avaliação do PPG</th>
                                                <th>E-mail do Autor</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in Itens.retorno">
                                                <td>{{item.categoria}}</td>
                                                <td>{{item.tituloArtigo}}</td>
                                                <td>{{item.anoPublicacao}}</td>
                                                <td>{{item.tituloPeriodico}}</td>
                                                <td>{{item.issn}}</td>
                                                <td>{{item.cpf}}</td>
                                                <td>{{item.identificador_login}}</td>
                                                <td>{{item.nmAutor}}</td>
                                                <td>{{item.nivel}}</td>
                                                <td>{{item.situacaoNivel}}</td>
                                                <td>{{item.anoNivel}}</td>
                                                <td>{{item.nmIes}}</td>
                                                <td>{{item.codigoPpg}}</td>
                                                <td>{{item.nmPpg}}</td>
                                                <td>{{item.codigoArea}}</td>
                                                <td>{{item.nmArea}}</td>
                                                <td>{{item.emailAutor}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <br>
                                <a class="btn btn-default" href="#/painelinscricao" style="margin-top: 20px;">
                                    <i class="glyphicon glyphicon-arrow-left"></i> Voltar</a>
                            </div>
                        </div> 
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>