<form novalidate name="distribuicao" ng-submit="update()" class="form-horizontal">
    <!--<input type="hidden" name="id_artigo" id="id_artigo" ng-model="id_artigo"/>-->
    <!--<input type="hidden" name="id_inscricao" id="id_inscricao" ng-model="artigo.id_inscricao"/>-->
    <fieldset>
        <legend>Distribuição de Artigos</legend>
        <div class="row">
            <div class="col-md-12" ng-show="aviso.show">
                <div class="alert ">{{ aviso.message }}</div>
            </div>
            <div class="col-sm-12">
                <div class="inner-panel dashboard">
                    <ul>
                        <li class="state-finished">
                            <div class="inner-panel-title">
                                <a class="btn-link">Distribuição</a>

                                <div class="inner-panel-actions pull-right">
                                </div>
                            </div>
                            <div class="inner-panel-content">

                                <div class="row">

                                    <div class="form-group required">
                                        <label class="col-sm-2 control-label">Categoria Temática:</label>
                                        <div class="col-sm-9">
                                            <select ng-change="carregarGrupos()"
                                                    capes-chosen data-placeholder="Selecione"
                                                    name="categoria"
                                                    id="categoria"
                                                    required
                                                    options="categorias.itens"
                                                    class="form-control"
                                                    ng-model="categoria.selecionado"
                                                    ng-options="item.nome for item in categorias.itens track by item.idTema"
                                            >
                                            </select>
                                        </div>
                                    </div>

                                    <!--<div class="form-group required">-->
                                    <!--<label class="col-sm-2 control-label">Etapa:</label>-->
                                    <!--<div class="col-sm-9">-->
                                    <!--<select ng-change="carregarGrupos()"-->
                                    <!--capes-chosen data-placeholder="Selecione"-->
                                    <!--name="etapa"-->
                                    <!--id="etapa"-->
                                    <!--required-->
                                    <!--options="etapas.itens"-->
                                    <!--class="form-control"-->
                                    <!--ng-model="etapa.selecionado"-->
                                    <!--ng-options="item.nome for item in etapas.itens track by item.id"-->
                                    <!--&gt;-->
                                    <!--</select>-->
                                    <!--</div>-->
                                    <!--</div>-->

                                    <div class="form-group required">
                                        <label class="col-sm-2 control-label">Da Comissão Adhoc:</label>
                                        <div class="col-sm-9">
                                            <select ng-change="recuperarArtigos()"
                                                    capes-chosen data-placeholder="Selecione"
                                                    name="gruposde"
                                                    id="gruposde"
                                                    required
                                                    options="gruposde.itens"
                                                    class="form-control"
                                                    ng-model="grupode.selecionado"
                                                    ng-options="item.nome for item in gruposde.itens track by item.id"
                                            >
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Área de Avaliação:</label>
                                        <div class="col-sm-9">
                                            <select ng-change="recuperarArtigos()"
                                                    capes-chosen data-placeholder="Selecione"
                                                    name="areaavaliacao"
                                                    id="areaavaliacao"
                                                    options="areasavaliacaocollection.itens"
                                                    class="form-control"
                                                    ng-model="areaavaliacao.selecionado"
                                                    ng-options="item.nm_area_avaliacao for item in areasavaliacaocollection.itens track by item.id_area_avaliacao"
                                            >
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group required">
                                        <label class="col-sm-2 control-label">Para Comissão Adhoc:</label>
                                        <div class="col-sm-9">
                                            <select capes-chosen data-placeholder="Selecione"
                                                    name="grupospara"
                                                    id="grupospara"
                                                    required
                                                    options="grupospara.itens"
                                                    class="form-control"
                                                    ng-model="grupopara.selecionado"
                                                    ng-options="item.nome for item in grupospara.itens track by item.id"
                                            >
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- Visualiza os artigos -->
                                <div class="row" style="margin-left: 3px; margin-right: 3px">
                                    <div class="form-group col-sm-12">
                                        <center>
                                            <table ng-if="artigos.length > 0" class="table table-striped table-bordered table-hover table-center">
                                                <thead>
                                                <tr>
                                                    <th width="5%"><input type="checkbox" ng-click="checkall('chkArtigos')" name="checkAll" /></th>
                                                    <th width="35%">Área de Avaliação</th>
                                                    <th width="20%">Autor</th>
                                                    <th width="20%">Comissão Adhoc</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="result in artigos" >
                                                    <td style="text-align: center;">
                                                        <input  type="checkbox"
                                                                name="chkArtigos"
                                                                ng-model="artigo.selecionados[result.id_inscricao]"
                                                                ng-change="verificaArtigoSelecionado(result.id_inscricao)"
                                                        />

                                                    </td>
                                                    <td>{{ result.nm_area_avaliacao}}</td>
                                                    <td>{{ result.nm_pessoa}}</td>
                                                    <td>{{ result.nm_comissao}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </fieldset>

    <input type="submit" style="display:none" id="submitdistribuicao"/>
</form>
<div class="inner-panel-actions pull-right">
    <div class="btn-group btn-group-sm">
        <!--<a class="btn btn-default"-->
           <!--ng-disabled="categoria.selecionado == null"-->
           <!--href="/rest/distribuicao?idCategoria={{categoria.selecionado.idTema}}&nomeGrupo={{categoria.selecionado.nome}}&tpConsulta=excel">-->
            <!--<i class="glyphicon glyphicon-download-alt"></i>-->
            <!--Excel Tema-->
        <!--</a>-->

        <!--<a class="btn btn-default"-->
           <!--ng-disabled="artigos.length === 0 || artigos === undefined"-->
           <!--href="/rest/distribuicao?idCategoria={{categoria.selecionado.idTema}}&idGrupo={{grupode.selecionado.id}}&nomeGrupo={{categoria.selecionado.nome}} - {{grupode.selecionado.nome}}&idAreaAvaliacao={{areaavaliacao.selecionado.id_area_avaliacao}}&tpConsulta=excel">-->
            <!--<i class="glyphicon glyphicon-download-alt"></i>-->
            <!--Excel {{grupode.selecionado.nome}}-->
        <!--</a>-->

        <a class="btn btn-default"
           href="#/pcn">
            <i class="glyphicon glyphicon-arrow-left"></i> Voltar</a>

        <button type="submit"
                class="btn btn-primary"
                ng-disabled="distribuicao.$invalid || artigo.selecionados === null"
                onclick="document.getElementById('submitdistribuicao').click()">
            <i class="glyphicon glyphicon-file"></i> Salvar
        </button>

    </div>
</div>