<form novalidate name="checklist" ng-submit="update()" class="form-horizontal">
    <input type="hidden" name="id_artigo" id="id_artigo" ng-model="id_artigo"/>
    <input type="hidden" name="id_inscricao" id="id_inscricao" ng-model="artigo.id_inscricao"/>
    <fieldset>
        <legend>Verificar Artigo</legend>
        <div class="row">
            <div class="col-md-12" ng-show="aviso.show">
                <div class="alert ">{{ aviso.message }}</div>
            </div>
            <div class="col-sm-12">
                <div class="inner-panel dashboard">
                    <h4></h4>
                    <ul>
                        <li class="state-finished">
                            <div class="inner-panel-title">
                                <a class="btn-link">Dados do Artigo</a>

                                <div class="inner-panel-actions pull-right">
                                </div>
                            </div>
                            <div class="inner-panel-content">
                                <!-- <div class="alert alert-info alert-dismissable">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                Sua inscrição somente será analisada após a submissão da mesma pelo botão <span class="alert-link">“Finalizar”</span>.
                                </div>-->
                                <div class="row">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">Título do
                                            artigo:</label>
                                        <p class="form-control-static col-sm-9">{{ artigo.titulo }}</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">Autor:</label>
                                        <p class="form-control-static col-sm-9">{{ artigo.autor }}</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">Coautores:</label>
                                        <p class="form-control-static col-sm-9">
                                            <span ng-repeat="coautor in artigo.coautores">{{ coautor.nome }}<br/></span>
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">IES:</label>
                                        <p class="form-control-static col-sm-9">{{ artigo.ies }}</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">Programa:</label>
                                        <p class="form-control-static col-sm-9">{{ artigo.programa }}</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">Ano de Publicação do
                                            Artigo:</label>
                                        <p class="form-control-static col-sm-9">{{ artigo.ano_publicacao }}</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">Artigo decorrente
                                            de:</label>
                                        <p class="form-control-static col-sm-9">{{ artigo.tipo_producao }} {{ artigo.situacao_tese }}</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">Ano de
                                            conclusão:</label>
                                        <p class="form-control-static col-sm-9">{{ artigo.ano_conclusao }}</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">Titulo do
                                            Periódico:</label>
                                        <p class="form-control-static col-sm-9">{{ artigo.titulo_periodico }}</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="state-finished">
                            <div class="inner-panel-title">
                                <a class="btn-link">Checklist</a>

                                <div class="inner-panel-actions pull-right">
                                </div>
                            </div>
                            <div class="inner-panel-content">
                                <!-- <div class="alert alert-info alert-dismissable">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                Sua inscrição somente será analisada após a submissão da mesma pelo botão <span class="alert-link">“Finalizar”</span>.
                                </div>-->
                                <div class="row">
                                    <div class="form-group col-md-1">
                                    </div>
                                    <div class="form-group col-md-11">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover table-center">
                                                <thead>
                                                <tr>
                                                    <th width="60%">Item</th>
                                                    <th width="15%" class="form-group required">
                                                        <label class="control-label">Situação</label>
                                                    </th>
                                                    <th width="25%">Observação</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="item in artigo.itens_checklist">
                                                    <td>{{ item.nome }}</td>
                                                    <td align="center">
                                                        <input type="hidden"
                                                               name="id_item{{ item.indice }}"
                                                               id="id_item{{ item.indice }}"
                                                               ng-model="item.id"
                                                               value="{{ item.id }}"/>
                                                        <span class="radio" style="width: 70px; float: left;">
                                                            <label>
                                                                <input type="radio"
                                                                       required
                                                                       id="item_check{{ item.indice }}"
                                                                       ng-model="item.situacao"
                                                                       name="item_check{{ item.indice }}"
                                                                       value="S"/> Sim
                                                            </label>
                                                        </span>
                                                        <span class="radio" style="width: 35px;float: left;">
                                                            <label>
                                                                <input type="radio"
                                                                       required
                                                                       id="item_check{{ item.indice }}"
                                                                       ng-model="item.situacao"
                                                                       name="item_check{{ item.indice }}"
                                                                       maxlength="500"
                                                                       value="N"/> Não
                                                            </label>
                                                        </span>
                                                    </td>
                                                    <td align="center">
                                                        <input type="text"
                                                               id="obs{{ item.indice }}"
                                                               name="obs{{ item.indice }}"
                                                               class="form-control" ser
                                                               ng-model="item.observacao"
                                                               maxlength="120"/>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="form-group required">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Situação:</label>
                                        <div class="col-sm-9">
                                            <select capes-chosen data-placeholder="Selecione"
                                                    name="situacao"
                                                    id="situacao"
                                                    required
                                                    options="item.id"
                                                    class="form-control"
                                                    ng-model="situacao_inscricao.selecionado"
                                                    ng-options="item.nome for item in situacoes.itens track by item.id">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group required">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Comissão:</label>
                                        <div class="col-sm-9">
                                            <select capes-chosen data-placeholder="Selecione"
                                                    name="comissao"
                                                    id="comissao"
                                                    required
                                                    options="item.id"
                                                    class="form-control"
                                                    ng-model="comissao.selecionado"
                                                    ng-options="item.nome for item in comissoes track by item.id">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </fieldset>
    <input type="submit" style="display:none" id="submitchecklist"/>
</form>
<div class="inner-panel dashboard">
    <h4></h4>
    <ul>
        <li class="state-active">
            <div class="inner-panel-title">
                <a class="btn-link">Documentos a serem enviados</a>
            </div>
            <div class="inner-panel-content">
                <div class="row">
                    <br/>
                    <div data-ng-repeat="arquivo in arquivos.tipos_documentos">
                        <div class="form-group col-md-4">
                            <label class="control-label">{{ arquivo.nome }}:</label><br/>
                            <form class="dropzone btn btn-default" capes-fileupload="fileuploadConf">
                                <i class="glyphicon glyphicon-upload"></i>
                                <input
                                        type="hidden"
                                        name="tipo_documento_evento"
                                        value="{{ arquivo.id}}"
                                        ng-model="arquivo.id"/>
                                <input
                                        type="hidden"
                                        name="tipo_documento"
                                        value="{{ arquivo.tipo_documento}}"
                                        ng-model="arquivo.tipo_documento"/>

                                <input
                                        type="hidden"
                                        name="id_inscricao"
                                        value="{{ artigo.id_inscricao }}"
                                        ng-model="artigo.id_inscricao"/>
                                <input
                                        type="hidden"
                                        name="id_pessoa"
                                        value="{{ usuarioLogado.usuario.corporativo.id }}"
                                        ng-model="id_pessoa"/>
                                <input
                                        type="hidden"
                                        name="usuario_logado"
                                        value="{{ usuarioLogado.usuario.corporativo.nome }}"
                                        ng-model="usuario_logado"/>
                            </form>
                        </div>
                        <div ng-if="$index == 2" class="row">&nbsp;</div>
                    </div>
                </div>
        </li>
        <li class="state-finished">
            <div class="inner-panel-title">
                <a class="btn-link">Documentos enviados</a>
                <div class="inner-panel-actions pull-right">
                </div>
            </div>
            <div class="inner-panel-content">
                <!-- <div class="alert alert-info alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                Sua inscrição somente será analisada após a submissão da mesma pelo botão <span class="alert-link">“Finalizar”</span>.
                </div>-->
                <div class="row">
                    <div class="col-sm-12">
                        <h5>Informações</h5>
                        <div class="table-responsive">
                            <table class="table table-striped table-condensed">
                                <thread>
                                    <tr>
                                        <th width="55%">Descrição</th>
                                        <th width="10%">Data</th>
                                        <th width="20%">Nome</th>
                                        <th width="15%">Opções</th>
                                    </tr>
                                </thread>
                                <tbody>
                                <tr ng-repeat="arquivo in arquivos_enviado.enviados" ng-if="arquivo.nome != 'download'">
                                    <td>{{ arquivo.tipo }}</td>
                                    <td>{{ arquivo.data }}</td>
                                    <td>{{ arquivo.nome }}</td>
                                    <td>
                                        <a ng-href="../rest/arquivo/download/{{ arquivo.id }}"
                                           type="button"
                                           class="btn btn-success btn-xs"><i
                                                class="glyphicon glyphicon-download-alt"></i></a>
                                    </td>
                                </tr>
                                <tr class="info" ng-repeat="arquivo in artigo.arquivos.enviados"
                                    ng-if="arquivo.nome == 'download'">
                                    <td><strong>{{ arquivo.tipo }}</strong></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <a ng-href="../rest/arquivo/download/insc-{{ arquivo.id_inscricao }}"
                                           type="button"
                                           class="btn btn-primary btn-xs"><i
                                                class="glyphicon glyphicon-download-alt"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="inner-panel-actions pull-right">
    <div class="btn-group btn-group-sm">
        <button type="submit"
                class="btn btn-primary"
                ng-disabled="checklist.$invalid"
                onclick="document.getElementById('submitchecklist').click()">
            <i class="glyphicon glyphicon-file"></i> Salvar
        </button>
        <a class="btn btn-default"
           href="#/verificar">
            <i class="glyphicon glyphicon-arrow-left"></i> Voltar</a>
    </div>
</div>

