<form novalidate name="pesquisar" ng-submit="search()" class="form-horizontal" >
    <fieldset>
        <legend>Pesquisar Artigo</legend>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-md-12" ng-show="aviso.show">
                    <div class="alert alert-warning">{{ aviso.message }}</div>
                </div>
                <div class="form-group">
                    <label for="Titulo" class="col-sm-2 control-label">Título do
                        artigo:</label>

                    <div class="col-sm-9">
                        <input class="form-control"
                               name="titulo"
                               id="titulo"
                               type="text"
                               maxlength="4000"
                               ng-model="titulo"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Autor" class="col-sm-2 control-label">Autor:</label>

                    <div class="col-sm-9">
                        <input class="form-control"
                               type="text"
                               name="autor"
                               maxlength="100"
                               id="autor"
                               ng-model="autor"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Programa" class="col-sm-2 control-label">Categoria Temática:</label>

                    <div class="col-sm-9">
                        <select ng-change="carregarComissoesAdhoc()"
                                capes-chosen data-placeholder="Selecione"
                                options="categorias.itens"
                                name="categoria"
                                id="categoria"
                                class="form-control"
                                ng-model="categoria.selecionado"
                                ng-options="item.nome for item in categorias.itens | orderBy:'nome' track by item.idTema">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Comissão Adhoc:</label>
                    <div class="col-sm-9">
                        <select capes-chosen data-placeholder="Selecione"
                                name="comissaoadhoc"
                                id="comissaoadhoc"
                                options="comissaoadhoc.itens"
                                class="form-control"
                                ng-model="comissaoadhoc.selecionado"
                                ng-options="item.nome for item in comissoesadhoc.itens track by item.id"
                        >
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Programa" class="col-sm-2 control-label">Programa:</label>

                    <div class="col-sm-9">
                        <select capes-chosen data-placeholder="Selecione"
                                options="programas.itens"
                                name="programas"
                                id="programas"
                                class="form-control"
                                ng-model="programas.selecionado"
                                ng-options="item.nome for item in programas.itens track by item.snpg">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="IES" class="col-sm-2 control-label">IES:</label>

                    <div class="col-sm-9">
                        <select capes-chosen data-placeholder="Selecione"
                                options="ies.itens"
                                name="ies"
                                id="ies"
                                class="form-control"
                                ng-model="form.ies.selecionada"
                                ng-options="item.nome for item in ies.itens track by item.id">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Situação" class="col-sm-2 control-label">Situação:</label>

                    <div class="col-sm-9">
                        <select capes-chosen data-placeholder="Selecione"
                                name="situacao"
                                id="situacao"
                                class="form-control"
                                ng-model="situacao.selecionado"
                                ng-options="item.nome for item in situacoes.itens track by item.id">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label"></label>

                    <div class="col-sm-9">
                        <button ng-init="init()"
                                type="submit"
                                class="btn btn-primary">
                            <i class="glyphicon glyphicon-file"></i> Pesquisar
                        </button>
                        <a class="btn btn-default"
                           href="#/pcn">
                            <i class="glyphicon glyphicon-arrow-left"></i> Voltar</a>
                    </div>
                </div>
                <div ng-show="show_result">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-center">
                            <thead>
                            <tr>
                                <th width="45%">Título do artigo</th>
                                <th width="25%">Autor</th>
                                <th width="15%">Programa</th>
                                <th width="5%">IES</th>
                                <th width="5%">Situação</th>
                                <th width="5%">Selecionar</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="result in result_search | limitTo:pagination.perPage : pagination.limit ">
                                <td>{{ result.titulo }}</td>
                                <td align="center">{{ result.autor }}</td>
                                <td align="center">{{ result.programa }}</td>
                                <td align="center">{{ result.ies }}</td>
                                <td align="center">{{ result.situacao | situacaoArtigo }}</td>
                                <td align="center"><a href="#checklist/{{ result.id }}"><i
                                        class="glyphicon glyphicon-plus"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <pagination ng-if="pagination.perPage <= pagination.total"
                                    total-items="pagination.total"
                                    items-per-page="pagination.perPage"
                                    boundary-links="true"
                                    ng-model="pagination.current"
                                    rotate="false"
                                    max-size="pagination.maxSize"
                                    first-text="Primeiro"
                                    previous-text="Anterior"
                                    next-text="Próximo"
                                    last-text="Último"
                                    ng-change="pageChanged(page)"
                                    num-pages="pagination.totalPages"></pagination>

                        <div class="pagination-info">
                            <span class="label label-default" ng-if="pagination.perPage <= pagination.total">Total de Páginas: <strong>{{ pagination.totalPages }}</strong></span>
                            <span class="label label-default">Total de Registros: <strong>{{ pagination.total }}</strong></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>
