<style>
    .cursor{
        cursor: pointer
    }
</style>
<form novalidate name="pesquisar" ng-submit="search()">
    <div class="row">
        <div class="col-sm-12">
            <alert ng-show="aviso.show"
                   type="{{ aviso.type}}"
                   close="fecharAviso()">{{ aviso.msg}}
            </alert>
            <div class="inner-panel dashboard">
                <ul>
                    <li class="state-finished">
                        <div class="inner-panel-title">
                            <a class="btn-link">GERAR RELATÓRIO DO PRÊMIO</a>
                            <div class="inner-panel-actions pull-right">
                            </div>
                        </div>
                        <div class="inner-panel-content">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="Tipo de Premiação" class="control-label">Tipo de Premiação:</label>
                                    <select capes-chosen data-placeholder="Todos"
                                            name="premiacao"
                                            id="premiacao"
                                            class="form-control"
                                            ng-model="premiacao.selecionado"
                                            ng-options="item.nome for item in premiacao.itens track by item.id">
                                    </select>
                                </div>                            
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="Ano" class="control-label">Ano:</label>
                                    <select capes-chosen
                                            data-placeholder="Selecione"
                                            name="ano"
                                            id="ano"
                                            options="itens"
                                            class="form-control"
                                            ng-model="ano"
                                            ng-options="item as item.nome for item in itens track by item.id">
                                    </select>
                                </div>                            
                            </div>                            
                            <div class="row">
                                <div class="col-sm-9">
                                    <button type="submit"
                                            class="btn btn-primary">
                                        <i class="glyphicon glyphicon-file"></i> Gerar Relatório
                                    </button>
                                </div>                          
                            </div>
                            <div class="row" ng-show="show_result" style="margin-top: 30px;">
                                <div class="col-sm-12">
                                    <br>
                                    <a href="/rest/relatorio-premio?ano={{rtAno}}&premiacao={{rtPremiacao}}&export=true" class="btn btn-default">
                                        <i class="glyphicon glyphicon-download-alt"></i>
                                        Excel
                                    </a>
                                    <br>
                                    <div ng-repeat="item in result_search" style="margin-top: 30px;">
                                        <div style="margin-bottom: 10px;">
                                            <strong>Categoria:</strong> {{item.nome}}
                                        </div>
                                        <table class="table table-striped table-bordered table-hover table-center">
                                            <thead>
                                                <tr>
                                                    <th>Título do Artigo</th>
                                                    <th>Autor</th>
                                                    <th>Programa</th>
                                                    <th>IES</th>
                                                    <th>Premiação</th>
                                                    <th>Parecer Final</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="artigo in item.artigos">
                                                    <td>{{artigo.tituloArtigo}}</td>
                                                    <td>{{artigo.nmAutor}}</td>
                                                    <td>{{artigo.programa}}</td>
                                                    <td>{{artigo.IES}}</td>
                                                    <td>{{artigo.premiacao}}</td>
                                                    <td align="center"><a ng-click="openParecer(artigo.idParecer)"><i class="glyphicon glyphicon-file cursor"></i></a></td>
                                                </tr>
                                                <tr ng-if="item.artigos.length == 0">
                                                    <td align="center">{{ AppSettings.messages.MSG012}}</td>
                                                </tr>                                            
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</form>
