
<fieldset>
    <div class="form-horizontal">
        <legend>Gerenciar Instrução de Avaliação</legend>
        <div class="row">
            <div class="col-md-12" ng-show="aviso.show">
                <div class="alert ">{{ aviso.message }}</div>
            </div>
            <div class="col-sm-12">
                <div class="inner-panel dashboard">
                    <ul>
                        <li class="state-finished">
                            <div class="inner-panel-title">
                                <a class="btn-link">Incluir Instrução de Avaliação</a>
                                <div class="inner-panel-actions pull-right">
                                </div>
                            </div>
                            <div class="inner-panel-content">

                                <div class="row">

                                    <div class="form-group required">
                                        <label class="col-sm-2 control-label">Título do Documento:</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" ng-model="documento.titulo" ng-change="setarTitulo()" />
                                        </div>
                                    </div>

                                    <div class="form-group required">
                                        <label class="col-sm-2 control-label">Categoria Temática:</label>
                                        <div class="col-sm-9">
                                            <select ng-change="carregarGrupos()"
                                                    capes-chosen data-placeholder="Selecione"
                                                    name="categoria"
                                                    id="categoria"
                                                    required
                                                    options="categorias.itens"
                                                    class="form-control"
                                                    ng-model="categoria.selecionado"
                                                    ng-options="item.nome for item in categorias.itens track by item.idTema">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group required">
                                        <label class="col-sm-2 control-label">Comissão Adhoc:</label>
                                        <div class="col-sm-9">
                                            <select ng-change="setarComissao()"
                                                    capes-chosen data-placeholder="Selecione"
                                                    name="grupos"
                                                    id="grupos"
                                                    required
                                                    options="grupos.itens"
                                                    class="form-control"
                                                    ng-model="grupo.selecionado"
                                                    ng-options="item.nome for item in grupos.itens track by item.id">
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="row form-horizontal" ng-if="podeExibirUpload()">
                                    <div class="form-group required">
                                        <label class="col-sm-2 control-label ">Documento:</label><br />

                                        <div class="col-md-2">
                                            <form class="dropzone btn btn-default" capes-fileupload="fileuploadConf">
                                                <i class="glyphicon glyphicon-upload"></i>
                                                <input
                                                        type="hidden"
                                                        name="tipo_documento"
                                                        value="{{ arquivo.id }}"
                                                        ng-model="arquivo.id" />
                                                <input
                                                        type="hidden"
                                                        name="titulo"
                                                        value="{{documento.titulo}}"
                                                        ng-model="documento.titulo" />
                                                <input
                                                        type="hidden"
                                                        name="id_comissao_avaliacao"
                                                        value="{{documento.comissaoAvaliacao}}"
                                                        ng-model="documento.comissaoAvaliacao" />

                                                <input
                                                        type="hidden"
                                                        name="id_pessoa"
                                                        value="{{ usuarioLogado.usuario.corporativo.id }}"
                                                        ng-model="id_pessoa" />
                                                <input
                                                        type="hidden"
                                                        name="usuario_logado"
                                                        value="{{ usuarioLogado.usuario.corporativo.nome }}"
                                                        ng-model="usuario_logado" />
                                            </form>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>





</fieldset>
<div class="inner-panel dashboard ng-scope">
    <ul>
        <li class="state-finished">
            <div class="inner-panel-title">
                <span class="btn-link">Documentos enviados</span>
            </div>
        </li>
    </ul>
    <div class="inner-panel-content">
        <div class="row">
            <div class="col-sm-12">
                <table ng-if="documentos.length > 0" class="table table-striped table-bordered table-hover table-center">
                    <thead>
                        <tr>
                            <th width="">Título do Documento</th>
                            <th width="">Categoria</th>
                            <th width="">Comissão</th>
                            <th width="10%">Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="documento in documentos" >
                            <td>{{ documento.titulo}}</td>
                            <td>{{ documento.grupo.nome}}</td>
                            <td>{{ documento.comissao.nome}}</td>
                            <td>
                                <a ng-href="../rest/instrucao-avaliacao/{{ documento.id }}"  class="btn btn-success btn-xs">
                                    <i class="glyphicon glyphicon-download-alt"></i>
                                </a>

                                <a type="button" class="btn btn-danger btn-xs" ng-click="excluir(documento)">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


<div class="inner-panel-actions pull-right">
    <div class="btn-group btn-group-sm">

        <a class="btn btn-default"
           href="#/pcn">
            <i class="glyphicon glyphicon-arrow-left"></i> Voltar</a>

    </div>
</div>