.btnF {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 11px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  /*white-space: nowrap;*/
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.table-center {

  th {
    text-align: center;
  }
}
.expandir.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.expandir.ng-enter.ng-enter-active {
  opacity:1;
}
a {
  &.disabled {
    cursor: not-allowed;
  }
}

.pagination-info {
  display: inline-block;
  margin: 20px 0;
  float: right;
  .label {
    font-size: 1em;
    font-weight: 100;
  }

}

.inner-panel{
  ul {

    li {


      ul {
        > li {
          letter-spacing: normal;
          a {
            padding: 6px;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 14px;
            text-transform: capitalize;
            &:before {
              display: none;
              color: initial;
              font-size: initial;
              font-weight: initial;
              margin-right: initial;
            }
          }
        }
      }
    }
  }
}

.angucomplete-holder {
  position: relative;
}

.angucomplete-dropdown {
  border-color: #ececec;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  width: 250px;
  padding: 6px;
  cursor: pointer;
  z-index: 9999;
  position: absolute;
  /*top: 32px;
  left: 0px;
  */
  margin-top: -6px;
  background-color: #ffffff;
}

.angucomplete-searching {
  color: #acacac;
  font-size: 14px;
}

.angucomplete-description {
  font-size: 14px;
}

.angucomplete-row {
  padding: 5px;
  color: #000000;
  margin-bottom: 4px;
  clear: both;
}

.angucomplete-selected-row {
  background-color: lightblue;
  color: #ffffff;
}

.angucomplete-image-holder {
  padding-top: 2px;
  float: left;
  margin-right: 10px;
  margin-left: 5px;
}

.angucomplete-image {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border-color: #ececec;
  border-style: solid;
  border-width: 1px;
}

.angucomplete-image-default {
  /* Add your own default image here
   background-image: url('/assets/default.png');
  */
  background-position: center;
  background-size: contain;
  height: 34px;
  width: 34px;
}
.inner-panel-toggle {
  &.btn {
    text-align: left;
  }
}
.inner-panel-content {
  &.collapse {
    padding-top:10px;
    padding-bottom:10px;
  }
}
.state-active {
  .panel-toggle {
    margin-bottom:5px;
  }
}

@bg-btn-color: #f2f2f2;
@bg-btn-color-dark: darken(@bg-btn-color, 20%);
@font-color: #376d9d;
.btn {
  &.btn-accordion {
    background-color: @bg-btn-color;
    border: 1px solid @bg-btn-color-dark;
    color: @font-color;
    transition: all 100ms;

    &:hover {
      background: lighten(@bg-btn-color, 15%);
    }
    &:active {
      background: @bg-btn-color-dark;
    }
  }
}