<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <fieldset class="ng-scope">
                <legend>Bem vindo</legend>
            </fieldset>
            <alert ng-show="aviso['parametrizacao'].show"
                   type="{{ aviso['parametrizacao'].type}}"
                   close="fecharAviso()">{{ aviso['parametrizacao'].msg}}
            </alert>
            <div class="alert alert-danger" ng-show="{{ showbox}}">  {{ mensagem}}</div>
            <div class="inner-panel dashboard">
                <h4>Painel de Atividades</h4>
                <ul>
                    <li class="state-active">
                        <div class="inner-panel-title">
                            <a class="btn-link">Fase do prêmio</a>
                        </div>                            
                        <div class="inner-panel-content">
                            <!--<div class="alert alert-warning alert-dismissable">-->
                            <!--<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>-->
                            <!--Sua inscrição foi indeferida na análise técnica, porém você pode entrar com-->
                            <!--<span class="alert-link">recurso até o dia xx/xx/xxx</span>.-->
                            <!--</div>-->

                            <div class="row">
                                <div class="col-sm-12">
                                    <h5>Informações</h5>
                                    <div class="table-responsive">
                                        <table class="table table-striped table-condensed">
                                            <thread>
                                                <tr>
                                                    <th width="15%">Tempo restante</th>
                                                    <th width="50%">Atividade</th>
                                                    <th width="15%">Data Início</th>
                                                    <th width="20%">Data Fim</th>
                                                </tr>
                                            </thread>
                                            <tbody>
                                                <tr ng-repeat="fase in fases.fases">
                                                    <td>
                                            <progressbar ng-if="fase.situacao == 'A'" lass="progress-striped active" value="fase.inicio | progressoBar: fase.previsaoEncerramento" type="warning">{{ fase.inicio | progressoBar: fase.previsaoEncerramento }}%</progressbar>
                                            <progressbar ng-if="fase.situacao == 'F'" lass="progress-striped active" value="100" type="warning">100%</progressbar>
                                            </td>
                                            <td ng-if="(fase.ordem | menuHelper: fase.inicio: fase.previsaoEncerramento : user.role ) == 1 && fase.situacao == 'A'">
                                                <a ng-if="fase.ordem == 1" ng-click="inicializarInscricao()" href="">{{fase.nome}}</a>
                                                <a ng-if="fase.ordem != 1" id="linkFase{{ fase.ordem}}" href="#">{{fase.nome}}</a>
                                            </td>
                                            <td ng-if="(fase.ordem | menuHelper: fase.inicio: fase.previsaoEncerramento : user.role ) == 1 && fase.situacao == 'F'">
                                                {{fase.nome}}
                                                Período da fase encerrado. Não será possível acessar a funcionalidade do sistema.
                                            </td>
                                            <td ng-if="(fase.ordem | menuHelper: fase.inicio: fase.previsaoEncerramento : user.role) == 0">
                                                {{fase.nome}}
                                            </td>
                                            <td> {{ fase.inicio | dateFormat }}</td>
                                            <td>{{ fase.previsaoEncerramento | dateFormat }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>                
        </div>
    </div>
</div>
