<style>
    .cursor{
        cursor: pointer
    }
</style>
<form novalidate name="pesquisar" ng-submit="search()">
    <div class="row">
        <div class="col-sm-12">
            <alert ng-show="aviso.show"
                   type="{{ aviso.type}}"
                   close="fecharAviso()">{{ aviso.msg}}
            </alert>
            <div class="inner-panel dashboard">
                <ul>
                    <li class="state-finished">
                        <div class="inner-panel-title">
                            <a class="btn-link">VISUALIZAR CHECKLIST DOS ARTIGOS</a>
                            <div class="inner-panel-actions pull-right">
                            </div>
                        </div>
                        <div class="inner-panel-content">
                            <div class="row">
                                <div class="col-md-6 form-group required">
                                    <label for="Ano" class="control-label">Selecione o ano:</label>
                                    <select capes-chosen
                                            data-placeholder="Selecione"
                                            name="ano"
                                            id="ano"
                                            options="itens"
                                            class="form-control"
                                            ng-model="ano"
                                            ng-options="item as item.nome for item in itens track by item.id"
                                            required="">
                                    </select>
                                </div>                            
                            </div>                            
                            <div class="row">
                                <div class="col-sm-9">
                                    <button type="submit"
                                            class="btn btn-primary">
                                        <i class="glyphicon glyphicon-file"></i> Gerar Relatório
                                    </button>
                                </div>                          
                            </div>
                            <div class="row" ng-show="show_result" style="margin-top: 30px;">

                                <div class="col-sm-12">
                                    <br>
                                    <a href="/rest/visualizar-checklist?ano={{rtAno}}&pag={{pagination.total}}&export=true" class="btn btn-default">
                                        <i class="glyphicon glyphicon-download-alt"></i>
                                        Excel
                                    </a>
                                    <div class="col-md-12" style="overflow-x: auto; margin-top: 30px;">
                                        <table class="table table-bordered table-hover table-center" style="margin-left: -14px; margin-bottom: 10px;">
                                            <thead>
                                                <tr>
                                                    <th rowspan="2">Área</th>
                                                    <th rowspan="2">Titulo do Artigo</th>
                                                    <th rowspan="2">Autor</th>
                                                    <th rowspan="2">Ano da Publicação</th>
                                                    <th rowspan="2">Programa</th>
                                                    <th rowspan="2">IES</th>
                                                    <th rowspan="2">Sigla IES</th>
                                                    <th ng-repeat="item in itens_verificacao" colspan="4">{{item.titulo}}</th>
                                                </tr>
                                                <tr>
                                                    <th ng-repeat="opcao in itens_verificacao_opcoes">{{opcao.item}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="artigo in result_search">
                                                    <td>{{artigo.area}}</td>
                                                    <td>{{artigo.titulo}}</td>
                                                    <td>{{artigo.autor}}</td>
                                                    <td>{{artigo.ano}}</td>
                                                    <td>{{artigo.programacao}}</td>
                                                    <td>{{artigo.ies}}</td>
                                                    <td>{{artigo.sgIes}}</td>

                                                    <td ng-repeat="resultado in artigo.resultados">{{resultado.verificacao}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>                                    
                                </div>
                                <div class="col-sm-12" style="margin-top: 20px; text-align: center;">
                                    <pagination ng-if="pagination.perPage <= pagination.total"
                                                total-items="pagination.total"
                                                items-per-page="pagination.perPage"
                                                boundary-links="true"
                                                ng-model="pagination.current"
                                                rotate="false"
                                                max-size="pagination.maxSize"
                                                first-text="Primeiro"
                                                previous-text="Anterior"
                                                next-text="Próximo"
                                                last-text="Último"
                                                ng-change="pageChanged(page)"
                                                num-pages="pagination.totalPages"></pagination>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</form>
