<style>
    .cursor{
        cursor: pointer
    }
</style>
<form novalidate name="pesquisar" ng-submit="search()">
    <div class="row">
        <div class="col-sm-12">
            <alert ng-show="aviso.show"
                   type="{{ aviso.type}}"
                   close="fecharAviso()">{{ aviso.msg}}
            </alert>
            <div class="inner-panel dashboard">
                <ul>
                    <li class="state-finished">
                        <div class="inner-panel-title">
                            <a class="btn-link">GERAR RELATÓRIO GERAL</a>
                            <div class="inner-panel-actions pull-right">
                            </div>
                        </div>
                        <div class="inner-panel-content">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="Etapa" class="control-label">Etapa</label>
                                    <select capes-chosen data-placeholder="Todos"
                                            name="etapa"
                                            id="etapa"
                                            class="form-control"
                                            ng-model="etapa.selecionado"
                                            ng-options="item.nome for item in etapa.itens track by item.id">
                                    </select>
                                </div>                            
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="Ano" class="control-label">Ano</label>
                                    <sty ui-select multiple required ng-model="model.selectedMultiple" name="ano">
                                        <ui-select-match placeholder="Selecione">{{$item.nome}}</ui-select-match>
                                        <ui-select-choices repeat="item in (model.data | filter: $select.search) track by item.id">
                                            <div ng-bind-html="item.nome | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>  
                                </div>                            
                            </div>
                            <div class="row">
                                <div class="col-sm-9">
                                    <button type="submit"
                                            class="btn btn-primary">
                                        <i class="glyphicon glyphicon-file"></i> Gerar Relatório
                                    </button>
                                </div>                          
                            </div>
                            <div class="row" ng-show="show_result" style="margin-top: 30px;">
                                <div class="col-sm-12">
                                    <br>
                                    <a href="/rest/relatorio-geral?ano={{rtAno}}&etapa={{rtEtapa}}&export=true" class="btn btn-default">
                                        <i class="glyphicon glyphicon-download-alt"></i>
                                        Excel
                                    </a>
                                    <br>
                                    <div ng-repeat="item in result_search" style="margin-top: 30px;">
                                        <div style="margin-bottom: 10px;">
                                            <strong>Categoria:</strong> {{item.nome}}
                                        </div>
                                        <table class="table table-striped table-bordered table-hover table-center">
                                            <thead>
                                                <tr>
                                                    <th>Ano Evento</th>
                                                    <th>Área</th>
                                                    <th>Título do artigo</th>
                                                    <th>Autor</th>
                                                    <th>Programa</th>
                                                    <th>IES</th>
                                                    <th>Premiação</th>
                                                    <th>Etapa</th>
                                                    <th>Parecer Final</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="artigo in item.artigos">
                                                    <td>{{artigo.ano_evento}}</td>
                                                    <td>{{artigo.nm_area}}</td>
                                                    <td>{{artigo.tituloArtigo}}</td>
                                                    <td>{{artigo.nmAutor}}</td>
                                                    <td>{{artigo.programa}}</td>
                                                    <td>{{artigo.IES}}</td>
                                                    <td>{{artigo.premiacao}}</td>
                                                    <td>{{artigo.nm_etapa}}</td>
                                                    <td align="center"><a ng-click="openParecer(artigo.idParecer)"><i class="glyphicon glyphicon-file cursor"></i></a></td>
                                                </tr>
                                                <tr ng-if="item.artigos.length == 0">
                                                    <td align="center">{{ AppSettings.messages.MSG012}}</td>
                                                </tr>                                            
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</form>
