<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()">
        <span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Parecer Final</h4>
</div>
<div class="modal-body">
    {{parecer}}
</div>