<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <alert ng-show="aviso['parametrizacao'].show"
                   type="{{ aviso['parametrizacao'].type}}"
                   close="fecharAviso('parametrizacao')">{{ aviso['parametrizacao'].msg}}
            </alert>
            <alert ng-show="aviso.show"
                   type="{{ aviso.type}}"
                   close="fecharAviso()">{{ aviso.msg}}
            </alert>
            <div class="inner-panel dashboard">
                <h4>
                    <!--Emitir Parecer Final-->
                </h4>
                <ul>
                    <li class="state-active">
                        <div class="inner-panel-title">
                            <a class="btn-link">DADOS DA COMISSÃO - 2ª Etapa</a>
                        </div>
                        <div class="inner-panel-content">
                            <form class="form-horizontal">
                                <div class="row">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Categoria:</label>
                                        <div class="col-sm-5">
                                            <select ng-change="carregarComissoes()"
                                                    capes-chosen data-placeholder="Selecione"
                                                    name="categoria"
                                                    id="categoria"
                                                    required
                                                    options="dados.categorias"
                                                    class="form-control"
                                                    ng-model="dados.categoria"
                                                    ng-options="item.nome for item in dados.categorias track by item.idTema">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Comissão:</label>
                                        <div class="col-sm-5">
                                            <select ng-change="carregarAnaliseArtigos($dados.comisao)"
                                                    capes-chosen data-placeholder="Selecione"
                                                    name="comissoes"
                                                    id="comissoes"
                                                    required
                                                    options="comissoes.itens"
                                                    class="form-control"
                                                    ng-model="dados.comissao"
                                                    ng-options="item.nome for item in comissoes.itens track by item.id">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="presidente" class="col-sm-2 control-label">Presidente:</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{ dados.presidente}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="comissao" class="col-sm-2 control-label">Comissão:</label>
                                        <div class="col-sm-10" style="padding-top: 7px">
                                            <p ng-repeat="membro in dados.membros">{{ membro.nome}}<br/></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="parecer" class="col-sm-2 control-label">Parecer:</label>
                                        <div class="col-sm-10" style="padding-top: 7px">
                                            <p>{{ dados.enviado}}</p>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <form novalidate name="emitir" ng-submit="emitirParecerFinal()">
                                <input type="hidden" name="segundaFase" ng-model="dados.segundaFase" />
                                <input type="hidden" name="id_participante" ng-model="dados.id_participante" />
                                <div class="form-group">
                                    <fieldset class="ng-scope">
                                        <legend>Emitir Parecer Final - 2ª Etapa</legend>
                                    </fieldset>
                                </div>
                                <div class="form-group" ng-if="dados.enviado == 'Não enviado'" >

                                    <p>Busque o artigo utilizando um campo: “Título do Artigo” ou “Autor”. A tentativa de
                                        utilizar dois campos, invalidará a consulta.</p>
                                    <label for="titulo" class="control-label">Título do Artigo:</label>
                                    <div angucomplete-alt
                                         id="t1"
                                         placeholder=""
                                         maxlength="4000"
                                         pause="100"
                                         selected-object="autoComplete"
                                         local-data="dados.itens"
                                         search-fields="titulo_artigo"
                                         title-field="titulo_artigo"
                                         minlength="1"
                                         input-class="form-control form-control-small"
                                         ng-click="habilitarDesabilitarCampos('autor')"
                                         disable-input="disableInputAutoComplete.titulo"
                                         text-searching="Procurando..."
                                         text-no-results="Nenhum registro encontrado."
                                         match-class="highlight">
                                    </div>
                                    <br />
                                    <label for="autor" class="control-label">Autor:</label>
                                    <div angucomplete-alt
                                         id="t2"
                                         placeholder=""
                                         maxlength="4000"
                                         pause="100"
                                         selected-object="autoComplete"
                                         local-data="dados.itens"
                                         search-fields="autor"
                                         title-field="autor"
                                         minlength="1"
                                         input-class="form-control form-control-small"
                                         ng-click="habilitarDesabilitarCampos('titulo')"
                                         disable-input="disableInputAutoComplete.autor"
                                         text-searching="Procurando..."
                                         text-no-results="Nenhum registro encontrado."
                                         match-class="highlight">
                                    </div>
                                    <br />
                                    <button type="button"
                                            class="btn btn-primary btn-xs"
                                            ng-click="addRow(autoComplete)">
                                        <i class="glyphicon glyphicon-plus"></i> Adicionar
                                    </button>
                                    <button type="button"
                                            class="btn btn-primary btn-xs"
                                            ng-click="imprimir()">
                                        <i class="glyphicon glyphicon-print"></i> Imprimir
                                    </button>
                                </div>
                                <div class="form-group" ng-if="dados.enviado == 'Enviado'" >
                                    <button type="button"
                                            class="btn btn-primary btn-xs"
                                            ng-click="imprimir()">
                                        <i class="glyphicon glyphicon-print"></i> Imprimir
                                    </button>
                                </div>
                                <div class="checkbox">
                                    <div class="table-responsive">
                                        <table id="#tbEmitirParecer" class="table table-striped table-condensed table-center">
                                            <thead>
                                                <tr>
                                                    <th width="25%">Título do Artigo</th>
                                                    <th width="5%">Ano de Publicação</th>
                                                    <th width="20%">Autor</th>
                                                    <th width="30%">Título do Periódico</th>
                                                    <th width="10%">Indicação</th>
                                                    <th width="5%">Arquivos</th>
                                                    <th width="5%" ng-if="dados.enviado == 'Não enviado'" >Excluir</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="rowContent in rows">
                                                    <td>
                                                        <input type="hidden" name="artigo{{ $index + 1}}" ng-model="rowContent" />
                                                        {{ rowContent.titulo_artigo}}
                                                    </td>
                                                    <td align="center">{{ rowContent.ano_publicacao}}</td>
                                                    <td>{{ rowContent.autor}}</td>
                                                    <td>{{ rowContent.titulo_periodico}}</td>
                                                    <td ng-init="init($index + 1, rowContent.indicacao_premio)">
                                                        <select capes-chosen data-placeholder="Selecione"
                                                                name="indicacao{{ $index + 1}}"
                                                                id="indicacao{{ $index + 1}}"
                                                                options="item.id"
                                                                class="form-control"
                                                                ng-model="rowContent.indicacao_premio"
                                                                ng-change="reordenarArtigos()"
                                                                ng-options="item.nome for item in indicacoes.itens track by item.id">
                                                        </select>
                                                    </td>
                                                    <td align="center">
                                                        <a href="" ng-click="downloadAllFiles(rowContent.id_inscricao)">
                                                            <i class="glyphicon glyphicon-download-alt"></i></a></td>
                                                    <td align="center" ng-if="dados.enviado == 'Não enviado'" >
                                                        <a href=""
                                                           ng-click="removeRow(rowContent.titulo_artigo, rowContent.id_inscricao, dados.id_parecer_final)">
                                                            <i class="glyphicon glyphicon-trash"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="form-group" required>
                                    <label for="parecer" class="control-label">Parecer:</label>
                                    <textarea ng-model="dados.descricao_parecer_final"
                                              ng-readonly="dados.enviado != 'Não enviado'"
                                              name="descricao_parecer"
                                              maxlength="4000"
                                              class="form-control"
                                              required
                                              rows="10"></textarea>
                                </div>


                                <button ng-if="dados.enviado == 'Não enviado'"
                                        type="submit" class="btn btn-primary"
                                        ng-disabled="emitir.$invalid || validar_finalizar()">
                                    <i class="glyphicon glyphicon-file"></i> Salvar</button>
                                <button ng-if="dados.enviado == 'Não enviado'"
                                        type="button" class="btn btn-primary"
                                        ng-click="finalizar()"
                                        ng-disabled="emitir.$invalid || validar_finalizar()">
                                    <i class="glyphicon glyphicon-ok"></i> Enviar</button>
                                <a class="btn btn-default"
                                   href="#/">
                                    <i class="glyphicon glyphicon-arrow-left"></i> Voltar</a>
                            </form>
                            <br>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Enviar Parecer</h3></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="row form-horizontal">
                                                <div class="form-group required">
                                                    <label class="col-sm-4 control-label ">Documento:</label><br />
                                                    <div class="col-md-8">
                                                        <form class="dropzone btn btn-default" capes-fileupload="fileuploadConf">
                                                            <i class="glyphicon glyphicon-upload"></i>
                                                            <input
                                                                    type="hidden"
                                                                    name="tipo_documento"
                                                                    value="119"
                                                                    ng-model="arquivo.id" />
                                                            <input
                                                                    type="hidden"
                                                                    name="id_parecer"
                                                                    value="{{ dados.id_parecer_final}}"
                                                                    ng-model="id_parecer_final" />
                                                            <input
                                                                    type="hidden"
                                                                    name="id_pessoa"
                                                                    value="{{ usuarioLogado.usuario.corporativo.id}}"
                                                                    ng-model="id_pessoa" />
                                                            <input
                                                                    type="hidden"
                                                                    name="id_participante"
                                                                    value="{{ dados.id_participante}}"
                                                                    ng-model="id_participante" />
                                                            <input
                                                                    type="hidden"
                                                                    name="usuario_logado"
                                                                    value="{{ usuarioLogado.usuario.corporativo.nome}}"
                                                                    ng-model="usuario_logado" />
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <h5>Informações</h5>
                                            <br />
                                            <div ng-if="dados.arquivo.length > 0">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-condensed">
                                                        <thread>
                                                            <tr>
                                                                <th width="30%">Data</th>
                                                                <th width="40%">Nome</th>
                                                                <th width="30%">Opções</th>
                                                            </tr>
                                                        </thread>
                                                        <tbody width="30px">
                                                        <tr class="info" ng-repeat="arquivo in dados.arquivo">
                                                            <td >{{ arquivo.dataUltAlteracao}}</td>
                                                            <td width="40">{{ arquivo.nome}}</td>
                                                            <td>
                                                                <a ng-href="../rest/incluir-avaliacao/{{ arquivo.id_participante_comissao}}"
                                                                   type="button"
                                                                   class="btn btn-success btn-xs"><i
                                                                        class="glyphicon glyphicon-download-alt"></i></a>
                                                                <a ng-click="deleleFile(arquivo.id_participante_comissao)"
                                                                   type="button"
                                                                   class="btn btn-danger btn-xs"><i
                                                                        class="glyphicon glyphicon-trash"></i></a>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div ng-if="!dados.arquivo.length">
                                                <div class="alert alert-warning" role="alert">
                                                    <strong>Arquivo enviado:</strong> Nenhum arquivo enviado
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</form>