<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <title>{{app.name}}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/main.css">
        <script>
            function logout() {
                var url = window.location.host.split('.');
                var ambiente = null;

                switch (url[1]) {
                    case 'local':
                        ambiente = 'http://hom.capes.gov.br/sso/slo?RelayState=http://pcn.local.capes.gov.br:3000/#/auth/accept-login';
                        break;
                    case 'des':
                        ambiente = 'http://des.capes.gov.br/sso/slo?RelayState=http://pcn.des.capes.gov.br/auth/accept-login';
                        break;
                    case 'hom':
                        ambiente = 'http://hom.capes.gov.br/sso/slo?RelayState=http://pcn.hom.capes.gov.br/auth/accept-login';
                        break;
                    case 'teste':
                        ambiente = 'http://teste.capes.gov.br/sso/slo?RelayState=http://pcn.teste.capes.gov.br/auth/accept-login';
                        break;
                    case 'preprod':
                        ambiente = 'http://preprod.capes.gov.br/sso/slo?RelayState=http://pcn.preprod.capes.gov.br/auth/accept-login';
                        break;
                    case 'capes':
                        ambiente = 'http://capes.gov.br/sso/slo?RelayState=http://pcn.capes.gov.br/auth/accept-login'
                }

                window.location.href = ambiente;
            }
        </script>
    </head>
    <body ng-cloak>
        <a id="top"></a>
    <toaster-container></toaster-container>
    <!-- Barra do Brasil -->
    <div id="barra-brasil" style="background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;">
        <ul id="menu-barra-temp" style="list-style:none;">
            <li style="display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED"><a href="http://brasil.gov.br" style="font-family:sans,sans-serif; text-decoration:none; color:white;">Portal do Governo Brasileiro</a></li>
            <li><a style="font-family:sans,sans-serif; text-decoration:none; color:white;" href="http://epwg.governoeletronico.gov.br/barra/atualize.html">Atualize sua Barra de Governo</a></li>
        </ul>
    </div>
    <!-- Barra do Brasil -->

    <div class="main">
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-2 page-logo">
                        {{app.name}}
                    </div>
                    <div class="col-md-5 page-title" style="font-size: 15.5px!important; margin: 7px 0 0 0; font-weight: bold;">
                        {{app.name}}
                    </div>
                    <div class="col-md-5 user-data">
                        <ul>
                            <li class="dropdown" style="align-items: center;">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="glyphicon glyphicon-user"></i> {{user.name}}<b class="caret"></b></a>
                                <br />{{ tipoIdentificador }}
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0)" onClick='logout()'><i class="glyphicon glyphicon-log-out"></i> Sair</a></li>
                                </ul>
                            </li>
                            <li style="vertical-align: top;">
                                <a href="#" title="Aumentar Fonte" class="glyphicon glyphicon-font fonte-maior"></a>
                                <a href="#" title="Diminuir Fonte" class="glyphicon glyphicon-font fonte-menor"></a>
                                <a href="#" title="Alto contraste" class="glyphicon glyphicon-tint"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="form-nav">
            <div class="container">
                <div class="form-nav-control">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <ul class="clearfix">
                    <li><a href="./#/" class="hidden-text"><i class="glyphicon glyphicon-home"></i> <span>Painel Principal</span></a></li>
                    <li class="dropdown" ng-show="true"><a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="true">Gerenciar Sistema <span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li ng-show="user.menu.geral"><a href="./#verificar">Verificar Artigo</a></li>
                            <li ng-show="user.menu.geral"><a href="./#comissao">Montar Comissão</a></li>
                            <li ng-show="user.menu.geral"><a href="./#manterfase">Manter Fase</a></li>
                            <li ng-show="user.menu.geral"><a href="./#calendario">Manter Calendário</a></li>
                            <li ng-show="user.menu.edital"><a href="./#edital">Editais</a></li>
                            <li ng-show="user.menu.lista_edital"><a href="./#edital/consultaredital">Consultar Editais</a></li>
                            <li ng-show="user.menu.geral"><a href="./#distribuicao">Distribuir Artigos</a></li>
                            <li ng-show="user.menu.geral"><a href="./#gerenciarinstrucaoavaliacao">Gerenciar Instrução de Avaliação</a></li>
                            <li ng-show="user.menu.geral"><a href="./#avaliacaoartigos">Consultar Avaliação de Artigos</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" ng-show="user.menu.geral"><a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="true">Relatórios<span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li ng-show="user.menu.geral"><a href="./#painelinscricao">Painel de Inscrições</a></li>
                            <li ng-show="user.menu.geral"><a href="./#painelpremio">Painel do Prêmio</a></li>
                            <li ng-show="user.menu.geral"><a href="./#relatoriopremio">Relatório Prêmio</a></li>
                            <li ng-show="user.menu.geral"><a href="./#relatoriogeral">Relatório Geral</a></li>
                            <li ng-show="user.menu.geral"><a href="./#visualizarchecklist">Visualizar Checklist dos Artigos</a></li>
                        </ul>
                    </li>    
                </ul>
            </div>
        </div>
        <div class="container page-content" ui-view ng-class="{
                    'no-nav': user.menu}">
        </div>
        <div class="rodape">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <ul class="browsers">
                            <li title="Chrome - A partir de {{ app.browser.chrome.version}}" class="chrome {{ app.browser.chrome.homologado}}"></li>
                            <li title="Firefox - A partir de {{ app.browser.firefox.version}}" class="firefox {{ app.browser.firefox.homologado}}"></li>
                            <li title="InternetExplorer - A partir de {{ app.browser.ie.version}}" class="internetExplorer {{ app.browser.ie.homologado}}"></li>
                            <li title="Safari - A partir de {{ app.browser.safari.version}}" class="safari {{ app.browser.safari.homologado}}">Safari: Homologado para a versão </li>
                        </ul>
                        <span class="versao">v {{ app.version}}</span>
                    </div>
                    <div class="col-md-4">
                        <div class="responsive">
                            Interface preparada para responder corretamente a maioria dos dispositivos m&oacute;veis.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/main.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script>
        window.onload = function() {
            var url = window.location.host.split('.');
            switch (url[1]) {
                case 'capes':
                    (function (i, s, o, g, r, a, m) {
                        i['GoogleAnalyticsObject'] = r;
                        i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                        a = s.createElement(o),
                            m = s.getElementsByTagName(o)[0];
                        a.async = 1;
                        a.src = g;
                        m.parentNode.insertBefore(a, m)
                    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                    ga('create', 'UA-4253018-34', 'auto');
                    ga('send', 'pageview');
            }
        };
    </script>
    <script src="//barra.brasil.gov.br/barra.js" type="text/javascript"></script>
</body>
</html>
