<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()">
        <span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Dados do Consultor</h4>
</div>
<div class="modal-body">
    <form novalidate>
        <div class="row">
            <div class="col-sm-12">
                <div class="inner-panel dashboard">
                    <h4></h4>
                    <ul>
                        <li class="state-active">
                            <div class="inner-panel-title">
                                <a class="btn-link">Dados Pessoais</a>
                            </div>
                            <div class="inner-panel-content">
                                <div class="row">
                                    <br/>
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Nome:</label>
                                        <div>{{ pessoa._embedded['dadosPessoa'].nome }}</div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Telefone Comercial:</label>
                                        <p ng-repeat="tel in pessoa._embedded['dadosPessoa'].telefone_comercial">
                                            {{tel.codigoArea + tel.telefone | foneFormat }}
                                        </p>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Telefone Residencial:</label>
                                        <p ng-repeat="tel in pessoa._embedded['dadosPessoa'].telefone_residencial">
                                            {{tel.codigoArea + tel.telefone | foneFormat }}
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="control-label">CPF:</label>
                                        <div>{{ pessoa._embedded['dadosPessoa'].identificador_principal.descricao }}</div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Telefone Cobrança:</label>
                                        <p ng-repeat="tel in pessoa._embedded['dadosPessoa'].telefone_cobranca">
                                            {{tel.codigoArea + tel.telefone | foneFormat }}
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="control-label">IES:</label>
                                        <p>{{ pessoa.ies.IES + ' - ' + pessoa.ies.SG_INSTITUICAO_ENSINO}}</p>
                                    </div>
                                    <div class="form-group col-md-4" ng-repeat="mail in pessoa._embedded['dadosPessoa'].correio_eletronico_principal">
                                        <label class="control-label">E-mail:</label>

                                        <p>{{ mail.email }}</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="state-finished">
                            <div class="inner-panel-title">
                                <a class="btn-link">Endereço</a>
                                <div class="inner-panel-actions pull-right">
                                </div>
                            </div>
                            <div class="inner-panel-content">
                                <!-- <div class="alert alert-info alert-dismissable">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                Sua inscrição somente será analisada após a submissão da mesma pelo botão <span class="alert-link">“Finalizar”</span>.
                                </div>-->
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="form-group col-md-6">
                                            <label class="control-label">Endereço Comercial</label>
                                            <div class="form-group col-md-12">
                                                <label class="control-label">Logradouro:</label>
                                                <p ng-repeat="end in pessoa._embedded['dadosPessoa'].endereco_principal">
                                                    {{ end.logradouro }}
                                                </p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Bairro:</label>
                                                <p ng-repeat="end in pessoa._embedded['dadosPessoa'].endereco_principal">
                                                    {{ end.bairro }}
                                                </p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Estado:</label>
                                                <p ng-repeat="end in pessoa._embedded['dadosPessoa'].endereco_principal">
                                                    {{ end.municipio.uf.nome }}/{{ end.municipio.uf.sigla }}
                                                </p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Cidade:</label>
                                                <p ng-repeat="end in pessoa._embedded['dadosPessoa'].endereco_principal">
                                                    {{ end.municipio.nome }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="control-label">Endereço Residencial</label>
                                            <div class="form-group col-md-12">
                                                <label class="control-label">Logradouro:</label>
                                                <p ng-repeat="end in pessoa._embedded['dadosPessoa'].endereco_residencial">
                                                    {{ end.logradouro }}
                                                </p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Bairro:</label>
                                                <p ng-repeat="end in pessoa._embedded['dadosPessoa'].endereco_residencial">
                                                    {{ end.bairro }}
                                                </p>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Estado:</label>
                                                <p ng-repeat="end in pessoa._embedded['dadosPessoa'].endereco_residencial">
                                                    {{ end.municipio.uf.nome }}/{{ end.municipio.uf.sigla }}
                                                </p>                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Cidade:</label>
                                                <p ng-repeat="end in pessoa._embedded['dadosPessoa'].endereco_residencial">
                                                    {{ end.municipio.nome }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>
