<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="fechar($dismiss)">
        <span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{{ title }}</h4>
</div>
<div class="modal-body">
    <form novalidate name="pesquisar" ng-submit="search()" class="form-horizontal">
        <alert ng-show="aviso['parametrizacao'].show"
               type="{{ aviso['parametrizacao'].type}}"
               close="fecharAviso('parametrizacao')">{{ aviso['parametrizacao'].msg}}
        </alert>
        <input type="hidden"
               name="idComissao"
               id="idComissao"
               ng-model="idComissao">
        <div class="row">
            <div class="col-sm-12">
                <alert ng-show="aviso['modal'].show"
                       type="{{ aviso['modal'].type }}"
                       close="fecharAviso(0)">{{ aviso['modal'].msg }}</alert>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">CPF:</label>
                    <div class="col-sm-9">
                        <input class="form-control"
                               name="cpf"
                               id="cpf"
                               type="text"
                               ng-model="cpf"
                               ui-br-cpf-mask />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Nome:</label>
                    <div class="col-sm-9">
                        <input class="form-control"
                               type="text"
                               name="nome"
                               id="nome"
                               ng-model="nome"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Área:</label>
                    <div class="col-sm-9">
                        <select capes-chosen data-placeholder="Selecione"
                                ng-change="carregarAreaEspecifica()"
                                options="area"
                                name="area"
                                id="area"
                                class="form-control"
                                ng-model="area.selecionada"
                                ng-options="item.nome for item in areas track by item.id">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Área Especifica:</label>
                    <div class="col-sm-9">
                        <select capes-chosen data-placeholder="Selecione"
                                options="areaEspecifica"
                                name="areaEspecifica"
                                id="areaEspecifica"
                                class="form-control"
                                ng-model="areaEspecifica.selecionada"
                                ng-options="item.nome for item in areasEspecificas track by item.id">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label"></label>
                    <div class="col-sm-9">
                        <button type="submit"
                                class="btn btn-primary">
                            <i class="glyphicon glyphicon-file"></i> Pesquisar
                        </button>
                    </div>
                </div>

                <div ng-show="show_result">
                    <table class="table table-striped table-bordered table-hover table-center">
                        <thead>
                        <tr>
                            <th width="45%">Nome</th>
                            <th width="25%">Área Avaliação</th>
                            <th width="15%">Área de Conhecimento</th>
                            <th width="5%">Currículo Lattes</th>
                            <th width="5%">Detalhar</th>
                            <th width="5%">Adicionar/Excluir</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="result in result_search | limitTo:pagination.perPage : pagination.limit ">
                            <td>
                                {{ result.NM_PESSOA }}
                                <p ng-if="result.IN_PRESIDENTE == 'S'" class="text-warning"><strong>Presidente de comissão</strong></p>
                            </td>
                            <td align="center">{{ result.NM_AREA_AVALIACAO }}</td>
                            <td align="center">{{ result.NM_AREA_CONHECIMENTO }}</td>
                            <td align="center">
                                <a ng-class="[getClass(result.lattes.id), 'b']" href="" ng-click="result.lattes.id && openLattes(result.lattes.id)"><i
                                        class="glyphicon glyphicon-file"></i></a>
                            </td>
                            <td align="center">
                                <a href="" ng-click="openDetalhar(result.ID_PESSOA)"><i
                                        class="glyphicon glyphicon-folder-open"></i></a>
                            </td>
                            <td align="center">
                                <a href="" ng-if="!result.ID_PARTICIPANTE_COMISSAO" ng-click="incluirParticipante(result.ID_PESSOA)"><i
                                        class="glyphicon glyphicon-plus"></i></a>
                                <a href="" ng-if="result.ID_PARTICIPANTE_COMISSAO" ng-click="removerParticipante(result.ID_PARTICIPANTE_COMISSAO, result.ID_COMISSAO_AVALIACAO, 'modal')"><i
                                        class="glyphicon glyphicon-trash"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination ng-if="pagination.perPage <= pagination.total"
                                total-items="pagination.total"
                                items-per-page="pagination.perPage"
                                boundary-links="true"
                                ng-model="pagination.current"
                                rotate="false"
                                max-size="pagination.maxSize"
                                first-text="Primeiro"
                                previous-text="Anterior"
                                next-text="Próximo"
                                last-text="Último"
                                ng-change="pageChanged(page)"></pagination>

                </div>
            </div>
        </div>
    </form>
</div>