<div class="row">
    <div class="col-md-12" ng-show="aviso.show">
        <div class="alert ">{{ aviso.message}}</div>
    </div>
    <div class="col-sm-12">
        <div class="inner-panel dashboard">
            <ul>
                <li class="state-finished">
                    <div class="inner-panel-title">
                        <a class="btn-link">FILTRO COMISSÃO</a>

                        <div class="inner-panel-actions pull-right">
                        </div>
                    </div>
                    <div class="inner-panel-content">

                        <div class="row">

                            <div class="form-group required">
                                <label class="col-sm-2 control-label">Categoria Temática:</label>
                                <div class="col-sm-9">
                                    <select ng-change="recuperaGrupos()"
                                            capes-chosen data-placeholder="Selecione"
                                            name="categoria"
                                            id="categoria"
                                            required
                                            options="categorias.itens"
                                            class="form-control"
                                            ng-model="categoria.selecionado"
                                            ng-options="item.nome for item in categorias.itens track by item.idTema">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group required">
                                <label class="col-sm-2 control-label">Etapa:</label>
                                <div class="col-sm-9">
                                    <select
                                        ng-change="recuperaGrupos()"
                                        capes-chosen data-placeholder="Selecione"
                                        class="form-control"
                                        name="etapa"
                                        id="etapa"
                                        required
                                        options="etapas.itens"
                                        class="form-control"
                                        ng-model="etapa.selecionado"
                                        ng-options="item.nome for item in etapas.itens track by item.id"
                                        >
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-md-11 text-right">
                               <button ng-click="adicionarComissao(categoria.selecionado,etapa.selecionado)"
                                       ng-show="etapa.selecionado"
                                       class="btn btn-primary"
                                       title="Adicionar comissão para a Categoria Temática e Etapa selecionada.">
                                       <i class="glyphicon glyphicon-plus"></i> Adicionar Comissão
                               </button>
                            </div>
                        </div>
                        <br />
                        <alert class="text-center"
                                ng-show="aviso.show"
                               type="{{ aviso.type }}"
                               close="fecharAviso()">{{ aviso.msg }}
                        </alert>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row" ng-show="comissoes.premio.length > 0 || comissoes.especializada.length > 0">
    <div class="col-md-12">
        <div class="panel">
            <div class="inner-panel dashboard">
                <ul ng-if="comissoes.premio.length > 0">
                    <li class="state-active">
                        <div class="inner-panel-title">
                            <!--<a class="btn-link">BIODIVERSIDADE: BIOCONVERSÃO DE RESÍDUOS DE CADEIAS AMAZÔNICAS</a>-->
                            <a class="btn-link">{{categoria.selecionado.nome}}</a>
                        </div>
                        <div class="row">
                            &nbsp;
                        </div>
                        <div ng-repeat="cp in comissoes.premio" class="panel-toggle">

                            <a class="inner-panel-toggle btn btn-accordion btn-sm btn-block"
                               ng-click="content_premio[$index] = !content_premio[$index]"
                               >
                                {{ cp.nome}}
                                <i class="glyphicon glyphicon-chevron-down"></i>
                            </a>

                            <div class="inner-panel-content" collapse="content_premio[$index]">
                                <div class="col-md-12">
                                    <!--<alert ng-show="aviso['modal'].show"-->
                                    <!--type="{{ aviso['modal'].type }}"-->
                                    <!--close="fecharAviso(0)">{{ aviso['modal'].msg }}</alert>-->
                                    <alert ng-show="aviso['parametrizacao'].show"
                                           type="{{ aviso['parametrizacao'].type}}"
                                           close="fecharAviso('parametrizacao')">{{ aviso['parametrizacao'].msg}}
                                    </alert>
                                    <alert ng-show="aviso[cp.id].show"
                                           type="{{ aviso[cp.id].type}}"
                                           close="fecharAviso(cp.id)">{{ aviso[cp.id].msg}}</alert>
                                    <alert ng-if="cp.situacao == 'F'" ng-show="aviso['comissao_fechada'].show"
                                           type="{{ aviso['comissao_fechada'].type}}"
                                           close="fecharAviso(cp.id)">{{ aviso['comissao_fechada'].msg}}</alert>

                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label  class="col-sm-3 control-label">Presidente:</label>

                                        <div class="col-sm-6">
                                            <input disabled
                                                   class="form-control"
                                                   name="titulo"
                                                   id="titulo"
                                                   type="text"
                                                   ng-model="cp.presidente.nome"/>
                                        </div>
                                        <div class="col-sm-2">
                                            <button ng-if="cp.situacao == 'A' && !cp.presidente.nome"
                                                    ng-click="incluirParticipante(cp.id, 'Selecionar Presidente', areas, 'S')"
                                                    class="btn btn-primary btn-sm">
                                                <i class="glyphicon glyphicon-plus"></i> Incluir Presidente
                                            </button>
                                            <button ng-if="cp.situacao == 'A' && cp.presidente.nome"
                                                    ng-click="incluirParticipante(cp.id, 'Selecionar Presidente', areas, 'S')"
                                                    class="btn btn-primary btn-sm">
                                                <i class="glyphicon glyphicon-pencil"></i> Alterar Presidente
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label  class="col-sm-3 control-label">Número de
                                            Artigos:</label>
                                        <div class="col-sm-9">{{ cp.qtArtigos}}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label  class="col-sm-3 control-label">Número de
                                            Consultores:</label>

                                        <div class="col-sm-9">{{ cp.qtParticipantes}}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label  class="col-sm-3 control-label">Situação:</label>
                                        <div class="col-sm-9" ng-if="cp.situacao == 'A'">Aberta</div>
                                        <div class="col-sm-9" ng-if="cp.situacao == 'F'">Fechada</div>
                                    </div>
                                </div>
                                <div class="row" style="margin-left: 3px; margin-right: 3px">
                                    <div class="form-group col-sm-12">
                                        <center>
                                            <table ng-if="cp.participantes.length > 0" class="table table-striped table-bordered table-hover table-center">
                                                <thead>
                                                    <tr>
                                                        <th width="40%">Consultor</th>
                                                        <th width="30%">Área de Conhecimento</th>
                                                        <th width="10%">Detalhar</th>
                                                        <th width="15%">Currículo Lattes</th>
                                                        <th width="5%">Excluir</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="result in cp.participantes| orderBy:'nome'">
                                                        <td>{{ result.nome}}</td>
                                                        <td align="center">{{ result.area_conhecimento}}</td>
                                                        <td align="center">
                                                            <a href="" ng-click="openDetalhar(result.idPessoa)"><i
                                                                    class="glyphicon glyphicon-folder-open"></i></a>
                                                        </td>
                                                        <td align="center">
                                                            <a ng-class="[getClass(result.lattes.id), 'b']"
                                                               href=""
                                                               ng-click="result.lattes.id && openLattes(result.lattes.id)"><i
                                                                    class="glyphicon glyphicon-file"></i></a>
                                                        </td>
                                                        <td align="center">
                                                            <a ng-class="[getClass(cp.situacao), 'b']"
                                                               href="" ng-click="cp.situacao == 'A' && removerParticipante(result.id, cp.id, '')"><i
                                                                    class="glyphicon glyphicon-trash"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </center>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <center>
                                            <div class="row">
                                                <button ng-if="cp.situacao == 'A'"
                                                        ng-click="incluirParticipante(cp.id, 'Selecionar Consultor', areas, 'N')"
                                                        class="btn btn-primary btn-sm">
                                                    <i class="glyphicon glyphicon-plus"></i> Adicionar Consultor
                                                </button>
                                                <button ng-if="cp.situacao == 'A'"
                                                        ng-click="fecharComissao(cp.id)"
                                                        class="btn btn-primary btn-sm">
                                                    <i class="glyphicon glyphicon-folder-close"></i> Fechar Comissão
                                                </button>
                                                <button ng-if="cp.situacao == 'F'"
                                                        ng-click="abrirComissao(cp.id)"
                                                        class="btn btn-primary btn-sm">
                                                    <i class="glyphicon glyphicon-folder-open"></i> Reabrir Comissão
                                                </button>
                                                <a class="btn btn-default btn-sm"
                                                   href="#/pcn">
                                                    <i class="glyphicon glyphicon-arrow-left"></i> Voltar</a>
                                            </div>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

                <ul ng-if="comissoes.especializada.length > 0">
                    <li class="state-active">
                        <div class="inner-panel-title">
                            <!--<a class="btn-link">CONSERVAÇÃO: PROSPECÇÃO DE MICROORGANISMOS POTENCIAIS PARA BIOATIVOS</a>-->
                            <a class="btn-link">{{categoria.selecionado.nome}}</a>
                        </div>
                        <div class="row">
                            &nbsp;
                        </div>
                        <div ng-repeat="ce in comissoes.especializada" class="panel-toggle">
                            <!--Categoria Temática:-->
                            <a class="inner-panel-toggle btn btn-accordion btn-sm btn-block"
                               ng-click="content_especialista[$index] = !content_especialista[$index]">
                                {{ ce.nome}}
                                <i class="glyphicon glyphicon-chevron-down"></i>
                            </a>

                            <div class="inner-panel-content" collapse="content_especialista[$index]">
                                <div class="col-md-12">
                                    <!--<alert ng-show="aviso['modal'].show"-->
                                    <!--type="{{ aviso['modal'].type }}"-->
                                    <!--close="fecharAviso(0)">{{ aviso['modal'].msg }}</alert>-->
                                    <alert ng-show="aviso[ce.id].show"
                                           type="{{ aviso[ce.id].type}}"
                                           close="fecharAviso(ce.id)">{{ aviso[ce.id].msg}}</alert>
                                    <alert ng-if="ce.situacao == 'F'" ng-show="aviso['comissao_fechada'].show"
                                           type="{{ aviso['comissao_fechada'].type}}"
                                           close="fecharAviso(ce.id)">{{ aviso['comissao_fechada'].msg}}</alert>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label  class="col-sm-3 control-label">Presidente:</label>
                                        <div class="col-sm-6">
                                            <input disabled
                                                   class="form-control"
                                                   name="titulo"
                                                   id="titulo"
                                                   type="text"
                                                   ng-model="ce.presidente.nome"/>
                                        </div>
                                        <div class="col-sm-2">
                                            <button ng-if="ce.situacao == 'A' && !ce.presidente.nome"
                                                    ng-click="incluirParticipante(ce.id, 'Selecionar Presidente', areas, 'S')"
                                                    class="btn btn-primary btn-sm">
                                                <i class="glyphicon glyphicon-plus"></i> Incluir Presidente
                                            </button>
                                            <button ng-if="ce.situacao == 'A' && ce.presidente.nome"
                                                    ng-click="incluirParticipante(ce.id, 'Selecionar Presidente', areas, 'S')"
                                                    class="btn btn-primary btn-sm">
                                                <i class="glyphicon glyphicon-pencil"></i> Alterar Presidente
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label  class="col-sm-3 control-label">Número de
                                            Artigos:</label>

                                        <div class="col-sm-9">{{ ce.qtArtigos}}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label  class="col-sm-3 control-label">Número de
                                            Consultores:</label>

                                        <div class="col-sm-9">{{ ce.qtParticipantes}}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label  class="col-sm-3 control-label">Situação:</label>
                                        <div class="col-sm-9" ng-if="ce.situacao == 'A'">Aberta</div>
                                        <div class="col-sm-9" ng-if="ce.situacao == 'F'">Fechada</div>
                                    </div>
                                </div>
                                <div class="row" style="margin-left: 3px; margin-right: 3px">
                                    <div class="form-group col-sm-12">
                                        <center>
                                            <table ng-if="ce.participantes.length > 0" class="table table-striped table-bordered table-hover table-center">
                                                <thead>
                                                    <tr>
                                                        <th width="40%">Consultor</th>
                                                        <th width="30%">Área de Conhecimento</th>
                                                        <th width="10%">Detalhar</th>
                                                        <th width="15%">Currículo Lattes</th>
                                                        <th width="5%">Excluir</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="result in ce.participantes| orderBy:'nome'">
                                                        <td>{{ result.nome}}</td>
                                                        <td align="center">{{ result.area_conhecimento}}</td>
                                                        <td align="center">
                                                            <a href="" ng-click="openDetalhar(result.idPessoa)"><i
                                                                    class="glyphicon glyphicon-folder-open"></i></a>
                                                        </td>
                                                        <td align="center">
                                                            <a ng-class="[getClass(result.lattes.id), 'b']"
                                                               href=""
                                                               ng-click="result.lattes.id && openLattes(result.lattes.id)"><i
                                                                    class="glyphicon glyphicon-file"></i></a>
                                                        </td>
                                                        <td align="center">
                                                            <a ng-class="[getClass(ce.situacao), 'b']"
                                                               href="" ng-click="ce.situacao == 'A' && removerParticipante(result.id, ce.id, '')"><i
                                                                    class="glyphicon glyphicon-trash"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </center>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <center>
                                            <div class="row">
                                                <button ng-if="ce.situacao == 'A'"
                                                        ng-click="incluirParticipante(ce.id, 'Selecionar Consultor', areas, 'N')"
                                                        class="btn btn-primary btn-sm">
                                                    <i class="glyphicon glyphicon-plus"></i> Adicionar Consultor
                                                </button>
                                                <button ng-if="ce.situacao == 'A'"
                                                        ng-click="fecharComissao(ce.id)"
                                                        class="btn btn-primary btn-sm">
                                                    <i class="glyphicon glyphicon-folder-close"></i> Fechar Comissão
                                                </button>
                                                <button ng-if="ce.situacao == 'F'"
                                                        ng-click="abrirComissao(ce.id)"
                                                        class="btn btn-primary btn-sm">
                                                    <i class="glyphicon glyphicon-folder-open"></i> Reabrir Comissão
                                                </button>
                                                <a class="btn btn-default btn-sm"
                                                   href="#/pcn">
                                                    <i class="glyphicon glyphicon-arrow-left"></i> Voltar</a>
                                            </div>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>