<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <alert ng-show="aviso['parametrizacao'].show"
                   type="{{ aviso['parametrizacao'].type}}"
                   close="fecharAviso()">{{ aviso['parametrizacao'].msg}}
            </alert>
            <div class="alert alert-danger" ng-show="{{ showbox}}"> {{ mensagem}}</div>
            <div class="inner-panel dashboard">
                <ul>
                    <li class="state-finished">
                        <div class="inner-panel-title">
                            <a class="btn-link">FILTRO COMISSÃO</a>

                            <div class="inner-panel-actions pull-right">
                            </div>
                        </div>
                        <div class="inner-panel-content">

                            <div class="row">

                                <div class="form-group required">
                                    <label class="col-sm-2 control-label">Categoria Temática:</label>
                                    <div class="col-sm-5">
                                        <select ng-change="carregarComissoes()"
                                                capes-chosen data-placeholder="Selecione"
                                                name="categoria"
                                                id="categoria"
                                                required
                                                options="filtro.categorias"
                                                class="form-control"
                                                ng-model="categoria.selecionada"
                                                ng-options="item.nome for item in filtro.categorias track by item.idTema">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="form-group required">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Comissão:</label>
                                    <div class="col-sm-5">
                                        <select ng-change="obterDados()"
                                                capes-chosen data-placeholder="Selecione"
                                                name="comissoes"
                                                id="comissoes"
                                                required
                                                options="filtro.comissoes"
                                                class="form-control"
                                                ng-model="comissao.selecionada"
                                                ng-options="item.nome for item in filtro.comissoes track by item.id">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br />

                        </div>
                    </li>
                </ul>
            </div>
            <div class="inner-panel dashboard"  ng-show="comissao.selecionada.id > 0 && categoria.selecionada.idTema > 0">
                <h4>
                    <!--Analisar e emitir Parecer-->
                </h4>
                <ul>
                    <li class="state-active">
                        <div class="inner-panel-title">
                            <a class="btn-link">DADOS DA COMISSÃO - 2ª Etapa</a>
                            <div class="inner-panel-actions pull-right">
                                <div class="btn-group btn-group-sm ">
                                    <a href="" ng-click="baixarPareceres('artigo')" class="btnF btn-primary">
                                        <i class="glyphicon glyphicon-file"></i> Mostrar Todos os Pareceres: Por
                                        Artigo
                                    </a>
                                    <a href="" ng-click="baixarPareceres('pessoa')" class="btnF btn-primary">
                                        <i class="glyphicon glyphicon-file"></i> Mostrar Todos os Pareceres: Por
                                        Pessoa
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="inner-panel-content">
                            <form class="form-horizontal">
                                <div class="row">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Presidente:</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">{{ dados.presidente}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Comissão:</label>
                                        <div class="col-sm-10" style="padding-top: 7px">
                                            <p ng-repeat="membro in dados.membros">{{ membro.nome}}<br/></p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li class="state-active">
                        <div class="inner-panel-title">
                            <a class="btn-link">Análise do artigo - 2ª Etapa</a>
                        </div>
                        <div class="inner-panel-content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <tabset justified="true">
                                        <tab heading="Artigos Indicados" ng-click="obterDados()">
                                            <br/><span ng-init="init('ordem')" ></span>
                                            <div class="table-responsive">
                                                <table class="table table-striped table-condensed table-center">
                                                    <thread>
                                                        <tr>
                                                            <th ng-click="sort('ordem')" width="1%" style="cursor: pointer" nowrap>Ordem
                                                                <!--<span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>-->
                                                            </th>
                                                            <th ng-click="sort('comissao')" width="4%" style="cursor: pointer" nowrap>Grupo</th>
                                                            <th width="20%">Título do Artigo</th>
                                                            <th width="10%">Ano de Publicação</th>
                                                            <th width="15%">Autor</th>
                                                            <th width="25%">Título do Periódico</th>
                                                            <th width="5%">Arquivos</th>
                                                            <th width="5%">Parecer 1ª Etapa</th>
                                                            <th width="10%">Indicação</th>
                                                            <th width="5%">Ver/Emitir Parecer</th>
                                                            <th width="5%">Reavaliar</th>
                                                        </tr>
                                                    </thread>
                                                    <tbody>
                                                        <tr ng-repeat="item in dados.itens| orderBy:sortKey:reverse | limitTo:pagination.perPage : pagination.limit">
                                                            <td>{{ item.ordem | number }}</td>
                                                            <td ng-if="item.resgatada == 'S'">Reavaliado</td>
                                                            <td ng-if="item.resgatada == 'N'">{{ item.comissao}}</td>
                                                            <td>{{ item.titulo_artigo}}</td>
                                                            <td align="center">{{ item.ano_publicacao}}</td>
                                                            <td>{{ item.autor}}</td>
                                                            <td>{{ item.titulo_periodico}}</td>
                                                            <td align="center">
                                                                <a href="" ng-click="downloadAllFiles(item.id_inscricao)">
                                                                    <i class="glyphicon glyphicon-download-alt"></i></a>
                                                            </td>
                                                            <td align="center">
                                                                <a href="" ng-click="baixarParecerEtapa('parecer1Etapa', item.id_inscricao)">
                                                                    <i class="glyphicon glyphicon-file"></i></a>
                                                            </td>
                                                            <td align="center" >
                                                                <div ng-repeat="indicacao in item.indicacoes">{{ indicacao.nome
                                                                    }} - {{ indicacao.sugestao}}
                                                                </div>
                                                            </td>
                                                            <td align="center">
                                                                <a href="#avaliarsegundafase/{{ item.id_inscricao}}">
                                                                    <i class="glyphicon glyphicon-file"></i></a>
                                                            </td>
                                                            <td align="center">
                                                                <a ng-if="item.resgatada == 'S'" href="" ng-click="resgatarArtigo(item.id_inscricao, false, item.indicacoes.length)">
                                                                    <i class="glyphicon glyphicon-remove"></i></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <pagination ng-if="pagination.perPage <= pagination.total"
                                                        total-items="pagination.total"
                                                        items-per-page="pagination.perPage"
                                                        boundary-links="true"
                                                        ng-model="pagination.current"
                                                        rotate="false"
                                                        max-size="pagination.maxSize"
                                                        first-text="Primeiro"
                                                        previous-text="Anterior"
                                                        next-text="Próximo"
                                                        last-text="Último"
                                                        ng-change="pageChanged(page)"
                                                        num-pages="pagination.totalPages"></pagination>
                                        </tab>
                                        <tab heading="Todos os artigos" active="active" ng-click="carregarTodosArtigos()">
                                            <form class="">
                                                <br/>
                                                <div class="form-group col-md-12 ">
                                                    Busque o artigo utilizando um campo: “Título do artigo” ou “Autor”. A tentativa de utilizar dois campos, invalidará a consulta.
                                                </div>
                                                <div class="form-group col-md-12 ">
                                                    <label class="control-label">Título do Artigo:</label>
                                                    <input id="titulo"
                                                           ng-click="habilitarDesabilitarCampos({titulo_artigo:false, autor:true})"
                                                           ng-focus="clearSearchFilters({autor: ''})"
                                                           type="text"
                                                           class="form-control"
                                                           ng-readonly="isReadonly.titulo_artigo"
                                                           required
                                                           ng-model="search.titulo_artigo"
                                                           maxlength="120" />
                                                </div>
                                                <div class="form-group col-md-12 ">
                                                    <label class="control-label">Autor:</label>
                                                    <input id="autor"
                                                           ng-click="habilitarDesabilitarCampos({titulo_artigo:true, autor:false})"
                                                           ng-focus="clearSearchFilters({titulo_artigo: ''})"
                                                           type="text"
                                                           class="form-control"
                                                           ng-readonly="isReadonly.autor"
                                                           required
                                                           ng-model="search.autor"
                                                           maxlength="120" />
                                                </div>
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-condensed table-center">
                                                        <thread>
                                                            <tr>
                                                                <th width="25%">Título do Artigo</th>
                                                                <th width="10%">Ano de Publicação</th>
                                                                <th width="15%">Autor</th>
                                                                <th width="25%">Título do Periódico</th>
                                                                <th width="5%">Arquivos</th>
                                                                <th width="5%">Parecer 1ª Etapa</th>
                                                                <th width="15%">Indicação</th>
                                                                <th width="5%">Recuperar Artigo</th>
                                                            </tr>
                                                        </thread>
                                                        <tbody>
                                                            <tr ng-repeat="item in dados.itens| limitTo:pagination.perPage : pagination.limit | filter:search:strict">
                                                                <td>{{ item.titulo_artigo}}</td>
                                                                <td align="center">{{ item.ano_publicacao}}</td>
                                                                <td>{{ item.autor}}</td>
                                                                <td>{{ item.titulo_periodico}}</td>
                                                                <td align="center">
                                                                    <a href="" ng-click="downloadAllFiles(item.id_inscricao)">
                                                                        <i class="glyphicon glyphicon-download-alt"></i></a>
                                                                </td>
                                                                <td align="center">
                                                                    <a href="" ng-click="baixarParecerEtapa('parecerNaoIndicados', item.id_inscricao)">
                                                                        <i class="glyphicon glyphicon-file"></i></a>
                                                                </td>
                                                                <td align="center" nowrap="">
                                                                    <div ng-repeat="indicacao in item.indicacoes">{{
                                                                                indicacao.nome}} - {{ indicacao.sugestao}}
                                                                    </div>
                                                                </td>
                                                                <td align="center">
                                                                    <a ng-click="resgatarArtigo(item.id_inscricao, true, 0)" href="">
                                                                        <i class="glyphicon glyphicon-plus"></i></a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <pagination ng-if="pagination.perPage <= pagination.total"
                                                            total-items="pagination.total"
                                                            items-per-page="pagination.perPage"
                                                            boundary-links="true"
                                                            ng-model="pagination.current"bor
                                                            rotate="false"
                                                            max-size="pagination.maxSize"
                                                            first-text="Primeiro"
                                                            previous-text="Anterior"
                                                            next-text="Próximo"
                                                            last-text="Último"
                                                            ng-change="pageChanged(page)"
                                                            num-pages="pagination.totalPages"></pagination>
                                            </form>
                                        </tab>
                                    </tabset>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
